<!--<link rel="stylesheet" href="@{/assets/js/category.js}">-->

<div class="pagetitle">
  <h1>Loại Sản Phẩm</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@{/admin/index}">Trang Chủ</a></li>
      <li class="breadcrumb-item">Sản Phẩm</li>
      <li class="breadcrumb-item active">Loại Sản Phẩm</li>
    </ol>
  </nav>
  <div class="row align-items-center">
    <div class="col-md-1">
      <!-- Điều chỉnh class col-md-6 tùy theo cỡ màn hình mong muốn -->
      <select class="form-control" ng-model="paper.size" ng-change="changePageSize()">
        <option value="0">0</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="col-md-11">
    </div>
  </div>
</div>
<!--  Begin code  -->
<section class="section">
  <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal" data-bs-target="#modalAdd">
    Thêm Loại Sản Phẩm
  </button>
  <div class="alert border-success alert-dismissible fade show" role="alert" ng-show="showAlert">
    {{alertMessage}}
    <button type="button" class="btn-close" ng-click="closeAlert()" aria-label="Close"></button>
  </div>
  <!-- Modal Add -->
  <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thêm Loại Sản Phẩm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="formCreateCustomer" ng-submit="formCreateCustomer.$valid && create()" novalidate>
            <div class="row mb-3">
              <label for="inputFullName1" class="col-sm-3 col-form-label">Tên</label>
              <div class="col-sm-9">
                <input name="name" id="inputFullName1" type="text" class="form-control" ng-model="formInput.name"
                  required />
                <span ng-show="formCreateCustomer.$submitted">
                  <div ng-show="formCreateCustomer.name.$invalid" class="error-message text-danger form-text">
                    Không được để trống
                  </div>
                </span>
              </div>
            </div>
            <!-- <div class="row mb-3">
                                <label for="inputAvatar" class="col-sm-3 col-form-label">Avatar</label>
                                <div class="col-sm-9">
                                    <input name="avatar" id="inputAvatar" type="file" class="form-control" ng-model="formInput.avatar"  required>
                                <span ng-show="formCreateCustomer.$submitted">
                                        <div ng-show="formCreateCustomer.Avatar.$invalid" class="error-message text-danger form-text">
                                        Avatar cannot be blank</div>
                                    </span>
                                </div>
                                <img src="" alt="" sizes="" srcset="">
                            </div> -->
            <div class="row mb-3">
              <label for="inputStatus" class="col-sm-3 col-form-label">Trạng Thái</label>
              <div class="col-sm-9">
                <select class="form-select form-select-sm" aria-label="Small select example" ng-model="formInput.status"
                  required>
                  <option value="1">Đang sử dụng</option>
                  <option value="2">Ngừng sử dụng</option>
                  <option value="3">Chờ</option>
                  <option value="4">Ẩn</option>
                </select>
                <span ng-show="formUpdateCustomer.$submitted">
                  <div ng-show="formUpdateCustomer.status.$invalid" class="error-message text-danger form-text">
                    Không được để trống
                  </div>
                </span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Thêm</button>
              <button ng-click="resetFormInput()" type="button" class="btn btn-warning">
                Xoá form
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Đóng
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Add -->
  <!-- Begin Modal Update -->
  <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sửa Loại Sản Phẩm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="formUpdateCustomer" ng-submit="formUpdateCustomer.$valid && update()" novalidate>
            <div class="row mb-3">
              <label for="inputFullName" class="col-sm-3 col-form-label">Tên</label>
              <div class="col-sm-9">
                <input name="fullName" id="inputFullName" type="text" class="form-control" ng-model="formUpdate.name"
                  required />
                <span ng-show="formUpdateCustomer.$submitted">
                  <div ng-show="formUpdateCustomer.fullName.$invalid" class="error-message text-danger form-text">
                    Không được để trống
                  </div>
                </span>
              </div>
            </div>
            <!-- <div class="row mb-3">
                                <label for="inputAvatar" class="col-sm-3 col-form-label">Avatar</label>
                                <div class="col-sm-9">
                                    <input name="avatar" id="inputAvatar" type="file" class="form-control" ng-model="formUpdate.avatar"  required>
                                <span ng-show="formUpdateCustomer.$submitted">
                                        <div ng-show="formUpdateCustomer.Avatar.$invalid" class="error-message text-danger form-text">
                                        Avatar cannot be blank</div>
                                    </span>
                                </div>
                                <img src="" alt="" sizes="" srcset="">
                            </div> -->
            <div class="row mb-3">
              <label for="inputStatus" class="col-sm-3 col-form-label">Trạng Thái</label>
              <div class="col-sm-9">
                <select class="form-select form-select-sm" aria-label="Small select example"
                  ng-model="formUpdate.status">
                  <option value="1">Đang sử dụng</option>
                  <option value="2">Ngừng sử dụng</option>
                  <option value="3">Chờ</option>
                  <option value="4">Ẩn</option>
                </select>
                <span ng-show="formUpdateCustomer.$submitted">
                  <div ng-show="formUpdateCustomer.status.$invalid" class="error-message text-danger form-text">
                    Không được để trống
                  </div>
                </span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Sửa</button>
              <button ng-click="resetFormUpdate()" type="button" class="btn btn-warning">
                Xoá form
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Đóng
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Update -->
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Tên</th>
            <th scope="col">Trạng Thái</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="category in categories">
            <td class="col-1">{{category.id}}</td>
            <td class="col-4">{{category.name}}</td>
            <td class="col-1" ng-switch="category.status">
              <span ng-switch-when="1" class="text-info">
                <div class="badge bg-success text-wrap" style="width: 5rem;">
                  Đang sử dụng
                </div>
              </span>
              <span ng-switch-when="2" class="text-danger">
                <div class="badge bg-danger text-wrap" style="width: 5rem;">
                  Ngừng sử dụng
                </div>
              </span>
              <span ng-switch-when="2" class="text-warning">
                <div class="badge bg-warning text-wrap" style="width: 5rem;">
                  Chờ
                </div>
              </span>
              <span ng-switch-when="2" class="text-secondary">
                <div class="badge bg-secondary text-wrap" style="width: 5rem;">
                  Ẩn
                </div>
              </span>
            </td>
            <td class="col-3">
              <button ng-click="edit(category)" type="button" class="btn btn-info" data-bs-toggle="modal"
                data-bs-target="#modalUpdate">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" ng-click="cc()"
                data-bs-target="#deleteModal-{{category.id}}">
                <i class="ri-delete-bin-fill"></i>
              </button>
              <div class="modal fade" id="deleteModal-{{category.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Bạn có chắc muốn xóa {{category.id}} không?
                      </h5>
                    </div>
                    <div class="modal-footer">
                      <button ng-click="delete(category)" type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        Xoá
                      </button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Đóng
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button ng-click="paper.first()" class="page-link">First</button>
          </li>
          <li class="page-item">
            <button ng-click="paper.prev()" class="page-link">Previous</button>
          </li>
          <li class="page-item">
            <a class="page-link">{{paper.page + 1}} of {{paper.count}}</a>
          </li>
          <li class="page-item">
            <button ng-click="paper.next()" class="page-link">Next</button>
          </li>
          <li class="page-item">
            <button ng-click="paper.last()" class="page-link">Last</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<!--  End Code  -->