<link rel="stylesheet" href="@{/assets/js/employee/Employee.js}">
 <style>
        .overlay {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 9998;
            display: block;
            overflow-y: hidden;
            overflow-x: hidden;
        }
    </style>
<div class="overlay" ng-show="loading">
    <div class="spinner-border" role="status" style="position: absolute;left: 50%;top: 50%;">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="pagetitle">
    <h1>Nhân Viên</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@{/admin/index}">Trang Chủ</a></li>
            <li class="breadcrumb-item">Tài Khoản</li>
            <li class="breadcrumb-item active">Nhân Viên</li>
        </ol>
    </nav>

</div>
<!--  Begin code  -->
<section class="section">
    <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal" data-bs-target="#modalAdd">
        Thêm Nhân Viên</button>
    <button type="button" class="btn btn-outline-success mb-2" ng-click="xuatFile()">
        Xuất File Excel</button><br>
    <div class="row">
        <div class="col-3">  <select
            name=""
            id="formtimkiemstatus"
            class="form-control"
            aria-label="Default select example"
            ng-model="formtimkiem"
            ng-change="getStatus()"
          >
          <option value="1">Đang hoạt động</option>
            <option value="2">Ngừng hoạt động</option>
          </select></div>
        <div class="col-9"><input type="text" ng-model="searchKeyword" ng-change="search()"
        placeholder="Search Employees..." class="form-control"></div>
    </div><br>


    <!-- Modal Add -->
   <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm Nhân Viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="col-lg-3">
                        <!-- <h1>Avatar</h1> -->
                        <label for="image">
                            <img src="/assets/img/no-img.png" id="image-preview" style="width: 100px; height: 100px;" />
                        </label>
                </div>
                <div class="col-lg-9">
                <form name="formCreateEmployee" ng-submit="formCreateEmployee.$valid && createEA()" novalidate>
                    
                            <div class="row mb-3">
                                <label for="inputFullName" class="col-sm-3 col-form-label">Họ Tên</label>
                                <div class="col-sm-9">
                                    <input name="fullName" id="inputFullName" type="text" class="form-control"
                                        ng-model="formInput.fullName" required>
                                    <span ng-show="formCreateEmployee.$submitted">
                                        <div ng-show="formCreateEmployee.fullName.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống</div>
                                    </span>
                                </div>
                            </div>
                              <div class="row mb-3">
                                <label for="image" class="col-sm-3 col-form-label">Ảnh</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="path" type="file" id="image" />
                                    <span ng-if="showError" class="error-message text-danger form-text">
                                        {{alertErrorImg}}
                                    </span>
                                </div>
                            </div>
                            
                            <!-- form thêm account -->
                                <div class="row mb-3">
                                <label for="inputaccountr" class="col-sm-3 col-form-label">Tài khoản</label>
                                <div class="col-sm-9">
                                    <input name="account" id="inputaccount" type="text" class="form-control"
                                        ng-model="formInput.account" required>
                                    <span ng-show="formCreateEmployee.$submitted">
                                        <div ng-show="formCreateEmployee.account.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống</div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputSDT" class="col-sm-3 col-form-label">SDT</label>
                                <div class="col-sm-9">
                                    <input name="phoneNumber" id="inputSDT" type="text" class="form-control"
                                        ng-model="formInput.phoneNumber" required>
                                    <span ng-show="formCreateEmployee.$submitted">
                                        <div ng-show="formCreateEmployee.phoneNumber.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống</div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputemail" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input name="email" id="inputemail" type="email" class="form-control"
                                        ng-model="formInput.email" required>
                                    <span ng-show="formCreateEmployee.$submitted">
                                        <div ng-show="formCreateEmployee.email.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống</div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputBirthDate" class="col-sm-3 col-form-label">Ngày Sinh</label>
                                <div class="col-sm-9">
                                    <input name="birthDate" id="inputBirthDate" type="date" class="form-control"
                                        ng-model="formInput.birthDate" required>
                                    <span ng-show="formCreateEmployee.$submitted">
                                        <div ng-show="formCreateEmployee.birthDate.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống</div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputGender" class="col-sm-3 col-form-label">Giới tính</label>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="gender1"
                                            value="true" ng-model="formInput.gender">Nam
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="gender2"
                                            ng-model="formInput.gender" value="false">Nữ
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputAddress" class="col-sm-3 col-form-label">Địa Chỉ</label>
                                <div class="col-sm-9">
                                    <input name="address" id="inputAddress" type="text" class="form-control"
                                        ng-model="formInput.address" required>
                                    <span ng-show="formCreateEmployee.$submitted">
                                        <div ng-show="formCreateEmployee.address.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống</div>
                                    </span>
                                </div>
                            </div>
                           
                            <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#modalAddExcel" style="background-color: rgb(9, 141, 9);">Thêm file Excel
                                </button>
                                <button type="submit" class="btn btn-primary" >Thêm</button>
                                <button ng-click="resetFormInput()" type="button" class="btn btn-warning">Xoá
                                    form</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            </div>
                    
                </form> 
                </div>
                    
                </div>  
            </div>
        </div>
    </div>
    <!-- End Modal Add -->
    <!-- Begin Modal Update -->
    <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sửa Nhân Viên</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-4">
                        <!-- <h1>Avatar</h1> -->
                        <label for="image">
                            <img id="image-preview-update"
                                ng-src="{{formUpdate.avatar ? formUpdate.avatar : '/assets/img/no-img.png'}}"
                                style="width: 100px; height: 100px;" />
                        </label>
                    </div>
                    <div class="col-lg-8">
                        <form name="formUpdateEmployee" ng-submit="formUpdateEmployee.$valid && update()" novalidate>
                            <div class="row mb-3">
                                <label for="inputFullName" class="col-sm-3 col-form-label">Họ Tên</label>
                                <div class="col-sm-9">
                                    <input name="fullName" id="inputFullName" type="text" class="form-control"
                                        ng-model="formUpdate.fullName" required>
                                    <span ng-show="formUpdateEmployee.$submitted">
                                        <div ng-show="formUpdateEmployee.fullName.$invalid"
                                            class="error-message text-danger form-text">
                                            Họ Tên không được để trống</div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="image-update" class="col-sm-3 col-form-label">Hình Ảnh</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="path" type="file" id="image-update" />
                                    <span ng-if="showError" class="error-message text-danger form-text">
                                        {{alertErrorImg}}
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputGender" class="col-sm-3 col-form-label">Giới Tính</label>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="gender1"
                                            ng-value="true" ng-model="formUpdate.gender" ng-checked='true'>Nam
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="gender2"
                                            ng-model="formUpdate.gender" ng-value="false">Nữ
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputAddress" class="col-sm-3 col-form-label">Địa Chỉ</label>
                                <div class="col-sm-9">
                                    <input name="address" id="inputAddress" type="text" class="form-control"
                                        ng-model="formUpdate.address" required>
                                    <span ng-show="formUpdateEmployee.$submitted">
                                        <div ng-show="formUpdateEmployee.address.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống</div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputUpdatedAt" class="col-sm-3 col-form-label">Ngày Sửa</label>
                                <div class="col-sm-9">
                                    <input name="updatedAt" id="inputUpdatedAt" type="text" class="form-control"
                                        ng-value="currentDate | date:'yyyy-MM-dd'" readonly>
                                    <span ng-show="formUpdateEmployee.$submitted">
                                        <div ng-show="formUpdateEmployee.updatedAt.$invalid"
                                            class="error-message text-danger form-text">
                                            UpdatedAt cannot be blank</div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputUpdatedBy" class="col-sm-3 col-form-label">Người Sửa</label>
                                <div class="col-sm-9">
                                    <input name="updatedBy" id="inputUpdatedBy" type="text" class="form-control"
                                        ng-model="formUpdate.updatedBy" required>
                                    <span ng-show="formUpdateEmployee.$submitted">
                                        <div ng-show="formUpdateEmployee.updatedBy.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống</div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputStatus" class="col-sm-3 col-form-label">Trạng Thái</label>
                                <div class="col-sm-9">
                                    <select name="status" class="form-select form-select-sm"
                                        aria-label="Small select example" ng-model="formUpdate.status">
                                        <option ng-value="1">Đang hoạt động</option>
                                        <option ng-value="2">Ngừng hoạt động</option>

                                    </select>
                                    <span ng-show="formUpdateEmployee.$submitted">
                                        <div ng-show="formUpdateEmployee.status.$invalid"
                                            class="error-message text-danger form-text">
                                            Không được để trống</div>
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Sửa</button>
                                <button ng-click="resetFormUpdate()" type="button" class="btn btn-warning">xoá
                                    form</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Update -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th scope="col">Ảnh</th>
                        <th scope="col">Mã</th>
                        <th scope="col">Họ Tên</th>
                        <th scope="col">Tài khoản</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Địa Chỉ</th>
                        <th scope="col">Trạng Thái</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in paper.items">
                        <td>{{$index + ((paper.page) * paper.size) +1}}</td>
                        <td><img ng-src="{{employee.avatar}}" alt="" style="width: 50px;height: 50px;"></td>
                        <td>{{employee.code}}</td>
                        <td>{{employee.fullName}}</td>
                        <td>{{employee.account.account}}</td>
                        <td>{{employee.gender == true ? 'Nam' : 'Nu'}}</td>
                        <td>{{employee.address}}</td>
                        
                        <td class="col-1" ng-switch="employee.status">
                                                <span ng-switch-when="1">
                                                    <div class="badge bg-success text-wrap">
                                                        Đang Hoạt Động'
                                                    </div>
                                                </span>
                                                <span ng-switch-when="2">
                                                    <div class="badge bg-danger text-wrap">
                                                        Ngừng Hoạt Động
                                                    </div>
                                                </span>
                        </td>
                        <td>
                            <button ng-click="edit(employee)" type="button" class="btn btn-info" data-bs-toggle="modal"
                                data-bs-target="#modalUpdate"><i class="bi bi-pencil-square"></i></button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal-{{employee.id}}"><i
                                    class="ri-delete-bin-fill"></i></button>
                            <div class="modal fade" id="deleteModal-{{employee.id}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa
                                                không?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button ng-click="delete(employee)" type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Xoá</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row align-items-center">
                <div class="col-md-1"> <!-- Điều chỉnh class col-md-6 tùy theo cỡ màn hình mong muốn -->
                    <select class="form-select" ng-model="paper.size" ng-change="changePageSize()"
                        ng-options="size for size in [5, 10, 20, 50, 100]">
                        <!-- <option value="selected">Xem mục</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option> -->
                    </select>
                </div>
                <div class="col-md-11">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><button ng-click="paper.first()" class="page-link">First</button></li>
                            <li class="page-item"><button ng-click="paper.prev()" class="page-link">Previous</button>
                            </li>
                            <li class="page-item"><a class="page-link">{{paper.page + 1}} of {{paper.count}}</a>
                            </li>
                            <li class="page-item"><button ng-click="paper.next()" class="page-link">Next</button></li>
                            <li class="page-item"><button ng-click="paper.last()" class="page-link">Last</button></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
        <!-- Begin Modal Add Account -->
        <div
      class="modal fade"
      id="modalAddExcel"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Thêm Nhân Viên Bằng file Excel</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div>
              <label>Chọn file Excel: </label>
              <input type="file" placeholder="Thêm bằng Excel" id="fileInput" />
              <button
                type="button"
                data-bs-dismiss="modal"
                ng-click="insertExcelEmployee()"
                style="background: #00b63e; margin-bottom: 10px"
              >
                Thêm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
 
</section>
<!--