<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{admin/index}">

<head>
    <meta charset="utf-8">
    <title>Dashboard - FiveGuys</title>
</head>
<link rel="stylesheet" href="@{/assets/js/favorite.js}">

<body ng-app="favorite" ng-controller="favorite-ctrl">
    <main id="main" class="main" layout:fragment="content">
        <div class="pagetitle">
            <h1>Yêu Thích</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@{/admin/index}">Trang Chủ</a></li>
                    <li class="breadcrumb-item">Tài Khoản</li>
                    <li class="breadcrumb-item active">Yêu Thích</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-md-1">
                    <!-- Điều chỉnh class col-md-6 tùy theo cỡ màn hình mong muốn -->
                    <select class="form-control" ng-model="paper.size" ng-change="changePageSize()">
                        <option value="selected">0</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="col-md-11">
                </div>
            </div>
        </div>
        <!--  Begin code  -->
        <section class="section">
            <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal"
                data-bs-target="#modalAdd">
                Thêm</button>
            <div class="alert border-success alert-dismissible fade show" role="alert" ng-show="showAlert">
                {{alertMessage}}
                <button type="button" class="btn-close" ng-click="closeAlert()" aria-label="Close"></button>
            </div>
            <!-- Modal Add -->
            <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thêm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form name="formCreateFavorite" ng-submit="formCreateFavorite.$valid && create()"
                                novalidate>
                                <div class="row mb-3">
                                    <label for="inputCustomer" class="col-sm-3 col-form-label">Khách Hàng</label>
                                    <div class="col-sm-9">
                                        <select name="customer" class="form-select form-select-sm"
                                            aria-label="Small select example" ng-model="formInput.customer.id"
                                            ng-required="true">
                                            <option ng-repeat="customer in customers" ng-value="customer.id">
                                                {{customer.fullName}}</option>
                                        </select>
                                        <span ng-show="formCreateFavorite.$submitted">
                                            <div ng-show="formCreateFavorite.customer.$invalid"
                                                class="error-message text-danger form-text">
                                                Không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputProductDetail" class="col-sm-3 col-form-label">Sản Phẩm</label>
                                    <div class="col-sm-9">
                                        <select name="productDetail" class="form-select form-select-sm"
                                            aria-label="Small select example" ng-model="formInput.productDetail.id"
                                            ng-required="true">
                                            <option ng-repeat="productDetail in productDetails"
                                                ng-value="productDetail.id">
                                                {{productDetail.product.name}},
                                                {{productDetail.product.material.name}},
                                                {{productDetail.product.category.name}},
                                                {{productDetail.color.name}},
                                                {{productDetail.size.name}}
                                            </option>
                                        </select>
                                        <span ng-show="formCreateFavorite.$submitted">
                                            <div ng-show="formCreateFavorite.productDetail.$invalid"
                                                class="error-message text-danger form-text">
                                                Không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputCreatedAt" class="col-sm-3 col-form-label">Ngày Tạo</label>
                                    <div class="col-sm-9">
                                        <input name="createdAt" id="inputCreatedAt" type="text" class="form-control"
                                            ng-value="currentDate | date:'yyyy-MM-dd'" readonly>
                                        <span ng-show="formCreateFavorite.$submitted">
                                            <div ng-show="formCreateFavorite.createdAt.$invalid"
                                                class="error-message text-danger form-text">
                                                Không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                                <!-- <div class="row mb-3">
                                    <label for="inputUpdatedAt" class="col-sm-3 col-form-label">UpdatedAt</label>
                                    <div class="col-sm-9">
                                        <input name="updatedAt" id="inputUpdatedAt" type="date" class="form-control"
                                            ng-model="formInput.updatedAt" required>
                                        <span ng-show="formCreateFavorite.$submitted">
                                            <div ng-show="formCreateFavorite.updatedAt.$invalid"
                                                class="error-message text-danger form-text">
                                                UpdatedAt cannot be blank</div>
                                        </span>
                                    </div>
                                </div> -->
                                <div class="row mb-3">
                                    <label for="inputStatus" class="col-sm-3 col-form-label">Trạng Thái</label>
                                    <div class="col-sm-9">
                                        <select name="status" class="form-select form-select-sm"
                                            aria-label="Small select example" ng-model="formInput.status"
                                            ng-required="true">
                                            <option value="1">Đang hoạt động</option>
                                            <option value="2">Ngừng hoạt động</option>
                                        </select>
                                        <span ng-show="formCreateFavorite.$submitted">
                                            <div ng-show="formCreateFavorite.status.$invalid"
                                                class="error-message text-danger form-text">
                                                Không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                    <button ng-click="resetFormInput()" type="button" class="btn btn-warning">Xoá
                                        form</button>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Đóng</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal Add -->
            <!-- Begin Modal Update -->
            <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Sửa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form name="formUpdateFavorite" ng-submit="formUpdateFavorite.$valid && update()"
                                novalidate>
                                <div class="row mb-3">
                                    <label for="inputCustomer" class="col-sm-3 col-form-label">Khách Hàng</label>
                                    <div class="col-sm-9">
                                        <select name="customer" class="form-select form-select-sm"
                                            aria-label="Small select example" ng-model="formUpdate.customer.id"
                                            ng-required="true">
                                            <option ng-repeat="customer in customers" ng-value="customer.id">
                                                {{customer.fullName}}</option>
                                        </select>
                                        <span ng-show="formUpdateFavorite.$submitted">
                                            <div ng-show="formUpdateFavorite.customer.$invalid"
                                                class="error-message text-danger form-text">
                                                Không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputProductDetail" class="col-sm-3 col-form-label">Sản Phẩm</label>
                                    <div class="col-sm-9">
                                        <select name="productDetail" class="form-select form-select-sm"
                                            aria-label="Small select example" ng-model="formUpdate.productDetail.id"
                                            ng-required="true">
                                            <option ng-repeat="productDetail in productDetails"
                                                ng-value="productDetail.id">
                                                {{productDetail.product.name}},
                                                {{productDetail.product.material.name}},
                                                {{productDetail.product.category.name}},
                                                {{productDetail.color.name}},
                                                {{productDetail.size.name}}
                                            </option>
                                        </select>
                                        <span ng-show="formUpdateFavorite.$submitted">
                                            <div ng-show="formUpdateFavorite.productDetail.$invalid"
                                                class="error-message text-danger form-text">
                                                Không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                                <!-- <div class="row mb-3">
                                    <label for="inputCreatedAt" class="col-sm-3 col-form-label">CreatedAt</label>
                                    <div class="col-sm-9">
                                        <input name="createdAt" id="inputCreatedAt" type="date" class="form-control"
                                            ng-model="formUpdate.createdAt"
                                            ng-value="formUpdate.createdAt | date:'yyyy-MM-dd'">
                                        <span ng-show="formUpdateFavorite.$submitted">
                                            <div ng-show="formUpdateFavorite.createdAt.$invalid"
                                                class="error-message text-danger form-text">
                                                CreatedAt cannot be blank</div>
                                        </span>
                                    </div>
                                </div> -->
                                <div class="row mb-3">
                                    <label for="inputUpdatedAt" class="col-sm-3 col-form-label">Ngày Sửa</label>
                                    <div class="col-sm-9">
                                        <input name="updatedAt" id="inputUpdatedAt" type="text" class="form-control"
                                            ng-value="currentDate | date:'yyyy-MM-dd'" readonly>
                                        <span ng-show="formUpdateFavorite.$submitted">
                                            <div ng-show="formUpdateFavorite.updatedAt.$invalid"
                                                class="error-message text-danger form-text">
                                                Không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputStatus" class="col-sm-3 col-form-label">Trạng Thái</label>
                                    <div class="col-sm-9">
                                        <select name="status" class="form-select form-select-sm"
                                            aria-label="Small select example" ng-model="formUpdate.status"
                                            ng-required="true">
                                            <option ng-value="1">Đang hoạt động</option>
                                            <option ng-value="2">Nừng hoạt động</option>
                                        </select>
                                        <span ng-show="formUpdateFavorite.$submitted">
                                            <div ng-show="formUpdateFavorite.status.$invalid"
                                                class="error-message text-danger form-text">
                                                Không được để trống</div>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Sửa</button>
                                    <button ng-click="resetFormUpdate()" type="button" class="btn btn-warning">Xoá
                                        form</button>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Đóng</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal Update -->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Khách Hàng</th>
                                <th scope="col">Sản Phẩm</th>
                                <!-- <th scope="col">Image ProductDetail</th> -->
                                <!-- <th scope="col">Created At</th>
                                <th scope="col">Updated At</th> -->
                                <th scope="col">Trạng Thái</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="favorite in paper.items">
                                <td>{{favorite.customer.fullName}}</td>
                                <td>{{favorite.productDetail.product.name}},
                                    {{favorite.productDetail.product.material.name}},
                                    {{favorite.productDetail.product.category.name}},
                                    {{favorite.productDetail.color.name}},
                                    {{favorite.productDetail.size.name}}</td>
                                <!-- <td>{{favorite.productDetail.image.name}}</td> -->
                                <!-- <td>{{favorite.createdAt | date:'yyyy-MM-dd'}}</td>
                                <td>{{favorite.updatedAt | date:'yyyy-MM-dd'}}</td> -->
                                <td>{{favorite.status == 1 ? 'Đang Hoạt Động' : 'Ngừng Hoạt Động'}}</td>
                                <td>
                                    <button ng-click="edit(favorite)" type="button" class="btn btn-info"
                                        data-bs-toggle="modal" data-bs-target="#modalUpdate"><i
                                            class="ri-refresh-line"></i></button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal-{{favorite.id}}"><i
                                            class="ri-delete-bin-fill"></i></button>
                                    <div class="modal fade" id="deleteModal-{{favorite.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa
                                                        không?</h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button ng-click="delete(favorite)" type="button"
                                                        class="btn btn-primary" data-bs-dismiss="modal">Xoá</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Đóng</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row align-items-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item"><button ng-click="paper.first()" class="page-link">First</button>
                                </li>
                                <li class="page-item"><button ng-click="paper.prev()"
                                        class="page-link">Previous</button></li>
                                <li class="page-item"><a class="page-link">{{paper.page + 1}} of {{paper.count}}</a>
                                </li>
                                <li class="page-item"><button ng-click="paper.next()" class="page-link">Next</button>
                                </li>
                                <li class="page-item"><button ng-click="paper.last()" class="page-link">Last</button>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </section>
        <!--  End Code  -->
    </main>
</body>

</html>