<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/index}">

<head>
    <meta charset="utf-8">
    <title>Danh sách sản phẩm - FiveGuys</title>
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
</head>

<body ng-app="product-list-app" ng-controller="product-list-ctrl">
<main id="main" class="main" layout:fragment="content">

    <div class="pagetitle">
        <h1>Products</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin/index}">Home</a></li>
                <li class="breadcrumb-item">Products</li>
                <li class="breadcrumb-item active">Products</li>
            </ol>
        </nav>
    </div>
    <!--  Begin code  -->
    <section class="section">
        <!--        <button type="button" class="btn btn-outline-success mb-2">-->
        <!--            Add Color-->
        <!--        </button>-->
        <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal" data-bs-target="#modalAdd">
            Add Color
        </button>
        <!-- Modal Add -->
        <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Color</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" novalidate>
                            <div class="col-md-4">
                                <label class="form-label">Tên sản phẩm</label>
                                <input type="text" class="form-control" ng-model="name" required>

                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Cổ áo</label>
                                <input type="text" class="form-control" ng-model="collar" required>

                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Cổ tay</label>
                                <input type="text" class="form-control" ng-model="wrist" required>

                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Loại sản phẩm</label>
                                <select class="form-select" ng-model="idCategory" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option ng-repeat="c in categories" value="{{c.id}}">{{ c.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Chất liệu</label>
                                <select class="form-select" ng-model="idMaterial" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option ng-repeat="m in materials" value="{{m.id}}">{{ m.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Thương hiệu</label>
                                <input type="text" class="form-control" ng-model="brand" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Mô tả</label>
                                <div class="form-floating">
                                <textarea class="form-control"
                                          placeholder="Leave a comment here" id="floatingTextarea2"
                                          style="height: 200px" ng-model="describe"></textarea>
                                    <label for="floatingTextarea2">Mô tả sản phẩm</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button ng-click="cc()"> c</button>
                                <button class="btn btn-primary" ng-click="createProduct()" type="submit">Submit form
                                </button>
                                <a class="btn btn-outline-secondary" th:href="@{/admin/product1}" type="submit">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal Add -->
        <!-- Modal Add -->
        <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Color</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" novalidate>
                            <div class="col-md-4">
                                <label class="form-label">Tên sản phẩm</label>
                                <input type="text" class="form-control" ng-model="name" required>

                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Cổ áo</label>
                                <input type="text" class="form-control" ng-model="collar" required>

                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Cổ tay</label>
                                <input type="text" class="form-control" ng-model="wrist" required>

                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Loại sản phẩm</label>
                                <select class="form-select" ng-model="idCategory" required>
                                    <option disabled value="">Choose...</option>
                                    <option ng-repeat="c in categories" value="{{c.id}}" ng-if="c.id = idCategory1 ? 'selected' : ''">{{ c.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Chất liệu</label>
                                <select class="form-select" ng-model="idMaterial" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option ng-repeat="m in materials" value="{{m.id}}">{{ m.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Thương hiệu</label>
                                <input type="text" class="form-control" ng-model="brand" required>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Mô tả</label>
                                <div class="form-floating">
                                <textarea class="form-control"
                                          placeholder="Leave a comment here" id="floatingTextarea22"
                                          style="height: 200px" ng-model="describe"></textarea>
                                    <label for="floatingTextarea22">Mô tả sản phẩm</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" ng-click="createProduct()" type="submit">Update form
                                </button>
                                <a class="btn btn-outline-secondary" th:href="@{/admin/product1}" type="submit">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal Add -->
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Mã</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Thương hiệu</th>
                        <th scope="col">Loại</th>
                        <th scope="col">Chất liệu</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in products">
                        <td class="col-1">{{p.code}}</td>
                        <td class="col-3">{{p.name}}</td>
                        <td class="col-2">{{p.brand}}</td>
                        <td class="col-2">{{p.category.name}}</td>
                        <td class="col-2">{{p.material.name}}</td>
                        <td class="col-2">
                            <a type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalDetail"
                               ng-click="getProductById(p.id)"><i class="ri-eye-2-fill"></i></a>
                            <a type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalUpdate"
                               ng-click="getProductById(p.id)"><i class="ri-edit-2-line"></i></a>

                            <button type="button" class="btn btn-danger"><i class="ri-delete-bin-fill"></i></button>
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa
                                                không?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                                Delete
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" ng-repeat="pageNum in displayPageRange()">
                            <a class="page-link" href="#" ng-click="setPage(pageNum)">{{pageNum}}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="modal fade" id="modalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Color</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Giá nhập</th>
                                    <th scope="col">Giá bán</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Màu sắc</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pd in productDetailsd">
                                    <td class="col-1">{{pd.importPrice}}</td>
                                    <td class="col-3">{{pd.price}}</td>
                                    <td class="col-2">{{pd.quantity}}</td>
                                    <td class="col-2">{{pd.barcode}}</td>
                                    <td class="col-2">{{pd.color.name}}</td>
                                    <td class="col-2">{{pd.size.name}}</td>
                                    <td class="col-2">
                                        <a type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalDetail"
                                           ng-click="getProductById(p.id)"><i class="ri-eye-2-fill"></i></a>
                                        <a type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalUpdate"
                                           ng-click="getProductById(p.id)"><i class="ri-edit-2-line"></i></a>

                                        <button type="button" class="btn btn-danger"><i class="ri-delete-bin-fill"></i></button>
                                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa
                                                            không?</h5>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                                            Delete
                                                        </button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!--  End Code  -->
</main>

</body>

</html>