<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/index}">

<head>
    <meta charset="utf-8">
    <title>Danh sách sản phẩm - FiveGuys</title>
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/assets/js/product/texteditor/rte_theme_default.css}"/>
    <script type="text/javascript" th:src="@{/assets/js/product/texteditor/rte.js}"></script>
    <script type="text/javascript"
            th:src="@{/assets/js/product/texteditor/all_plugins.js}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
</head>

<body ng-app="abcd" ng-controller="abcd" style="font-size: 15px">
<main id="main" class="main" layout:fragment="content">
    <div class="overlay" ng-show="loading">
        <div class="spinner-border" role="status" style="position: absolute;left: 50%;top: 50%;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="position-fixed end-0 me-3" style="z-index: 11;">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{toastMessage}}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="pagetitle">
        <h1>Quản lý sản phẩm</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin/index}">Trang chủ</a></li>
                <li class="breadcrumb-item">Sản phẩm</li>
                <li class="breadcrumb-item active">Quản lý sản phẩm</li>
            </ol>
        </nav>
    </div>


    <!--  Begin code  -->
    <section class="section">
        <!--        <button type="button" class="btn btn-outline-success mb-2">-->
        <!--            Add Color-->
        <!--        </button>-->
        <div class="row">
            <div class="col-8">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#homefilter"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Tìm theo mã
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#detailfilter" t
                                ype="button" role="tab" aria-controls="profile" aria-selected="false">Tìm kiếm nâng cao
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-4 d-flex justify-content-end">
<!--                <div class="row">-->
<!--                    <div class="col-4">-->
                        <button type="button" class="btn btn-outline-success mb-2 form-control"
                                data-bs-toggle="modal"
                                data-bs-target="#productInfo">
                            Thêm mới
                        </button>
<!--                    </div>-->
<!--                    <div class="col-4">-->
                        <button type="button" class="btn btn-outline-secondary mb-2 form-control">
                            Insert Exel
                        </button>
<!--                    </div>-->
<!--                    <div class="col-4">-->
                        <select class="form-select" ng-model="selectedItem"
                                ng-change="changeStatus(selectedItem)">
                            <option selected value="">Tất cả</option>
                            <option value="1">Đang bán</option>
                            <option value="2">Ngừng bán</option>
                            <option value="3">Ẩn</option>
                        </select>
<!--                    </div>-->
                </div>

            </div>
            <div class="tab-content mb-3" id="myTabContent">
                <div class="tab-pane fade show active" id="homefilter" role="tabpanel" aria-labelledby="home-tab">
                    <input type="text" ng-model="searchKeyword" ng-change="search()" placeholder="Nhập mã hóa đơn..."
                           class="form-control mt-2">
                </div>
                <div class="tab-pane fade" id="detailfilter" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-3">
                            <label >Thương hiệu:</label>
                            <select class="form-select" aria-label="Small select example"
                                    ng-model="typeBill">
                                <option value="">Chọn loại</option>
                                <option ng-value="1">Đặt hàng online</option>
                                <option ng-value="2">Bán nhanh</option>
                                <option ng-value="3">Bán giao hàng</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label >Loại:</label>
                            <select class="form-select" aria-label="Small select example"
                                    ng-model="billStatus">
                                <option value="">Chọn trạng thái</option>
                                <option ng-value="1">Chờ xử lý</option>
                                <option ng-value="2">Đang giao hàng</option>
                                <option ng-value="3">Giao hàng thành công</option>
                                <option ng-value="4">Đã hủy</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label >Loại:</label>
                            <select class="form-select" aria-label="Small select example"
                                    ng-model="billStatus">
                                <option value="">Chọn trạng thái</option>
                                <option ng-value="1">Chờ xử lý</option>
                                <option ng-value="2">Đang giao hàng</option>
                                <option ng-value="3">Giao hàng thành công</option>
                                <option ng-value="4">Đã hủy</option>
                            </select>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-outline-primary mb-2 form-control-sm"
                                    ng-click="filter(fromDate, toDate, typeBill, billStatus)">Tìm kiếm
                            </button>
                            <button type="button" class="btn  btn-outline-info mb-2 form-control-sm"
                                    ng-click="resetFilter()">Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Mã</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Thương hiệu</th>
                        <th scope="col">Loại</th>
                        <th scope="col">Chất liệu</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in paper.items">
                        <td class="col-1">{{p.code}}</td>
                        <td class="col-3">{{p.name}}</td>
                        <td class="col-2">{{p.brand.name}}</td>
                        <td class="col-1">{{p.category.name}}</td>
                        <td class="col-2">{{p.material.name}}</td>
                        <td class="col-1" ng-switch="p.status">
                            <span ng-switch-when="1">Đang bán</span>
                            <span ng-switch-when="2">Ngừng bán</span>
                            <span ng-switch-when="3">Ẩn</span>
                        <td class="col-2">
                            <a type="button" class="btn btn-info" data-bs-toggle="modal"
                               data-bs-target="#modalDetail"
                               ng-click="edit(p)"><i class="ri-eye-2-fill"></i></a>

                            <a type="button" class="btn btn-info" data-bs-toggle="modal"
                               data-bs-target="#updateStatusProduct-{{p.id}}"
                               ng-click="getProductById(p.id)"><i class="ri-edit-2-line"></i></a>
                            <div class="modal fade" id="updateStatusProduct-{{p.id}}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel2">Update status</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row mb-3" ng-init="statusUpdate=p.status">
                                                <label class="col-sm-3 col-form-label">Trạng thái</label>
                                                <div class="col-sm-9">
                                                    <select class="form-select" aria-label="Small select example"
                                                            ng-model="statusUpdate">
                                                        <option ng-value="1">Đang bán</option>
                                                        <option ng-value="2">Ngừng bán</option>
                                                        <option ng-value="3">Ẩn</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Hủy
                                            </button>
                                            <button type="button" class="btn btn-primary"
                                                    ng-click="updateStatusProduct(p.id, statusUpdate)">Cập nhật
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-danger"><i class="ri-delete-bin-fill"></i></button>
                            <div class="modal fade" id="deleteModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc muốn xóa
                                                không?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                                Delete
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row align-items-center">
                    <div class="col-md-1"> <!-- Điều chỉnh class col-md-6 tùy theo cỡ màn hình mong muốn -->
                        <select class="form-control" ng-model="paper.size" ng-change="changePageSize()">
                            <option value="selected">Xem mục</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-md-11">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <button ng-click="paper.first()"
                                            class="page-link">First
                                    </button>
                                </li>
                                <li class="page-item">
                                    <button ng-click="paper.prev()"
                                            class="page-link">Previous
                                    </button>
                                </li>
                                <li class="page-item"><a class="page-link">{{paper.page + 1}} of {{paper.count}}</a>
                                </li>
                                <li class="page-item">
                                    <button ng-click="paper.next()"
                                            class="page-link">Next
                                    </button>
                                </li>
                                <li class="page-item">
                                    <button ng-click="paper.last()"
                                            class="page-link">Last
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <!--        Detail product-->
        <div class="modal fade" id="modalDetail" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" style="max-height: 700px;">
                <div class="position-fixed end-0 me-3" style="z-index: 11; margin-top: 50px">
                    <div id="liveToastUpdate" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body">
                                    {{toastMessage}}
                                </div>
                                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thông tin: {{formUpdate.code}} - {{formUpdate.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-8">
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab"
                                           ng-click="showAddProductDetail(product)" href="#home">Thông tin sản phẩm</a>
                                    </li>
                                    <!--                                    <li class="nav-item">-->
                                    <!--                                        <a class="nav-link" data-bs-toggle="tab"-->
                                    <!--                                           ng-click="showAddProductDetail(describe)" href="#menu1">Describe</a>-->
                                    <!--                                    </li>-->
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" ng-click="showAddProductDetail('pd')"
                                           href="#menu2">Chi tiết sản phẩm</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="d-flex justify-content-end">
                                        <button id="addProductDetail" class="btn btn-outline-success mb-2"
                                                data-bs-toggle="modal" data-bs-target="#modalProductDetail"
                                                data-bs-dismiss="modal" ng-click="resetValiAddPD()">
                                            Thêm mới
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tab detail product  -->
                        <div class="tab-content mt-3">
                            <div id="home" class="container tab-pane active">
                                <div class="row mb-3">
                                    <label for="updateCode" class="col-sm-3 col-form-label">Mã sản phẩm</label>
                                    <div class="col-sm-9">
                                        <input name="code" id="updateCode" type="text" class="form-control"
                                               placeholder="Enter code"
                                               ng-model="formUpdate.code" readonly ng-required="true">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="updateName" class="col-sm-3 col-form-label">Tên</label>
                                    <div class="col-sm-9">
                                        <input name="code" id="updateName" type="text" class="form-control"
                                               placeholder="Enter name"
                                               ng-model="formUpdate.name" ng-required="true">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="updateCollar" class="col-sm-3 col-form-label">Cổ áo</label>
                                    <div class="col-sm-9">
                                        <input name="code" id="updateCollar" type="text" class="form-control"
                                               placeholder="Enter collar"
                                               ng-model="formUpdate.collar" ng-required="true">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="updateWrist" class="col-sm-3 col-form-label">Tay áo</label>
                                    <div class="col-sm-9">
                                        <input name="code" id="updateWrist" type="text" class="form-control"
                                               placeholder="Enter wrist"
                                               ng-model="formUpdate.wrist" ng-required="true">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="updateCategory" class="col-sm-3 col-form-label">Loại</label>
                                    <div class="col-sm-9">
                                        <!--                                        <input name="code" id="updateCategory" type="text" class="form-control"-->
                                        <!--                                               placeholder="Enter Code"-->
                                        <!--                                               ng-model="formUpdate.category.id" ng-required="true">-->
                                        <select class="form-select" id="updateCategory"
                                                ng-model="formUpdate.category.id" required>
                                            <!--                                            <option selected disabled value="">Choose...</option>-->
                                            <option ng-repeat="c in categories" ng-value="{{c.id}}">{{ c.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="updateMaterial" class="col-sm-3 col-form-label">Chất liệu</label>
                                    <div class="col-sm-9">
                                        <!--                                        <input name="code" id="inputMaterial" type="text" class="form-control"-->
                                        <!--                                               placeholder="Enter Code"-->
                                        <!--                                               ng-model="formUpdate.material.id" ng-required="true">-->
                                        <select class="form-select" id="updateMaterial"
                                                ng-model="formUpdate.material.id" required>
                                            <!--                                            <option selected disabled value="">Choose...</option>-->
                                            <option ng-repeat="m in materials" ng-value="{{m.id}}">{{ m.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Thương hiệu</label>
                                    <div class="col-sm-9">
                                        <select class="form-select" id="updateBrand"
                                                ng-model="formUpdate.brand.id" required>
                                            <!--                                            <option selected disabled value="">Choose...</option>-->
                                            <option ng-repeat="b in brands" ng-value="{{b.id}}">{{ b.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" id="enableEdit"
                                            ng-click="enableEditForm(false, false)">
                                        Sửa
                                    </button>
                                    <button class="btn btn-secondary" id="cancelEdit" ng-click="cancelEdit()">Hủy
                                    </button>
                                    <button class="btn btn-primary" id="submitEdit" ng-click="update(formUpdate.id)">
                                        Cập nhật
                                    </button>
                                </div>
                            </div>
                            <!--                            <div id="menu1" class="container tab-pane fade"><br>-->
                            <!--                                <div>-->
                            <!--                                    <div id="div_editor1" style="max-width: 20px">-->
                            <!--                                        <p ng-bind="formUpdate.describe"></p>-->
                            <!--                                    </div>-->
                            <!--                                    <p style="width: 50px" ng-bind-html="formUpdate.describe"></p>-->
                            <!--                                    <button onclick="cc2()"></button>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div id="menu2" class="container tab-pane fade">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Màu sắc</th>
                                        <th scope="col">Kích cỡ</th>
                                        <th scope="col">Giá nhập</th>
                                        <th scope="col">Giá bán</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Barcode</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="pd in productDetails">
                                        <td class="col-1">{{$index + 1}}</td>
                                        <td class="col-1">{{pd.color.name}}</td>
                                        <td class="col-1">{{pd.size.name}}</td>
                                        <td class="col-2">{{pd.importPrice}}</td>
                                        <td class="col-2">{{pd.price}}</td>
                                        <td class="col-1">{{pd.quantity}}</td>
                                        <td class="col-2">{{pd.barcode}}</td>
                                        <td class="col-1" ng-switch="pd.status">
                                            <span ng-switch-when="1">Đang bán</span>
                                            <span ng-switch-when="2">Ngừng bán</span>
                                            <span ng-switch-when="3">Ẩn</span></td>
                                        <td class="col-1">
                                            <a id="updateProductDetail" class="btn btn-sm btn-success"
                                               data-bs-toggle="modal" data-bs-target="#modalUpdateDetail"
                                               data-bs-dismiss="modal" ng-click="editProductDetail(pd)">
                                                <i class="ri-edit-2-fill"></i>
                                            </a>
<!--                                            <a type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"-->
<!--                                               data-bs-target="#modalDetail"-->
<!--                                               ng-click="edit(p)"><i class="ri-eye-2-fill"></i></a>-->
                                        </td>
                                    </tr>
                                    <td colspan="9" ng-if="productDetails.length <= 0">
                                        <p style="text-align: center">Không có chi tiết sản phẩm</p>
                                    </td>
                                    </tbody>
                                </table>
                                <!--                                <nav aria-label="Page navigation example">-->
                                <!--                                    <ul class="pagination justify-content-center">-->
                                <!--                                        <li class="page-item" ng-repeat="pageNum in displayPageRange()">-->
                                <!--                                            <a class="page-link" href="#" ng-click="setPage(pageNum)">{{pageNum}}</a></li>-->
                                <!--                                    </ul>-->
                                <!--                                </nav>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal add productDetail-->
        <div class="modal fade" id="modalProductDetail" tabindex="-1" aria-labelledby="exampleModalLabel1"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Thêm mới chi tiết sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div ng-if="checkTrungFK == true">
                            <div class="alert alert-danger" role="alert">
                                Đã tồn tại chi tiết sản phẩm này
                            </div>
                        </div>
                        <form name="multiStepForm" class="form-validation" role="form" novalidate>
                            <!--                                <div class="animate-switch" ng-switch-when="stage1">-->
                            <div class="row">
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Giá nhập</label>
                                    <div class="col-sm-9">
                                        <input name="" type="number" class="form-control"
                                               placeholder="Nhập giá nhập..."
                                               ng-model="formInputPd.importPrice" ng-required="true">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Giá bán</label>
                                    <div class="col-sm-9">
                                        <input name="" type="number" class="form-control"
                                               placeholder="Nhập giá bán..."
                                               ng-model="formInputPd.price" ng-required="true">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Màu sắc</label>
                                    <div class="col-sm-9">
                                        <select class="form-select" ng-model="formInputPd.color.id" required>
                                            <option selected disabled value="">Chọn màu sắc...</option>
                                            <option ng-repeat="c in colors" value="{{c.id}}">{{ c.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Kích cớ</label>
                                    <div class="col-sm-9">
                                        <select class="form-select" ng-model="formInputPd.size.id" required>
                                            <option selected disabled value="">Chọn kích cỡ...</option>
                                            <option ng-repeat="s in sizes" value="{{s.id}}">{{ s.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Số lượng tồn</label>
                                    <div class="col-sm-9">
                                        <input name="" type="number" class="form-control"
                                               placeholder="Nhập số lượng..."
                                               ng-model="formInputPd.quantity" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex justify-content-end">
                                    <label for="image1">
                                        <img src="/assets/img/no-img.png" id="image-preview1"
                                             style="width: 100px; height: 100px;"/>
                                    </label>
                                    <input class="form-control" name="path" style="display: none"
                                           type="file" id="image1" accept="image/*"/>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <label for="image2">
                                        <img src="/assets/img/no-img.png" id="image-preview2"
                                             style="width: 100px; height: 100px;"/>
                                    </label>
                                    <input class="form-control" name="path" style="display: none"
                                           type="file" id="image2" accept="image/*"/>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <label for="image3">
                                        <img src="/assets/img/no-img.png" id="image-preview3"
                                             style="width: 100px; height: 100px;"/>
                                    </label>
                                    <input class="form-control" name="path" style="display: none"
                                           type="file" id="image3" accept="image/*"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" ng-click="cancelEditPd()"
                                data-bs-toggle="modal" data-bs-target="#modalDetail" data-bs-dismiss="modal">Hủy
                        </button>
                        <button class="btn btn-primary" ng-click="submitProductDetail()"
                                data-bs-toggle="modal" data-bs-target="#modalDetail" data-bs-dismiss="modal">Xác nhận
                        </button>
                        <button class="btn btn-primary" ng-click="saveImage()"
                                data-bs-toggle="modal" data-bs-target="#modalDetail" data-bs-dismiss="modal">a
                        </button>
                        <button class="btn btn-primary" ng-click="saveImage1233()"
                                data-bs-toggle="modal" data-bs-target="#modalDetail" data-bs-dismiss="modal">image
                        </button>
                        <button class="btn btn-primary" ng-click="submitProductDetail123()" type="submit">validate
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal update productDetail-->
        <div class="modal fade" id="modalUpdateDetail" tabindex="-1" aria-labelledby="exampleModalLabel1"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleUpdateLabel1">Thêm mới chi tiết sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="multiStepForm" class="form-validation" role="form" novalidate>
                            <!--                                <div class="animate-switch" ng-switch-when="stage1">-->
                            <div class="row">
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Giá nhập</label>
                                    <div class="col-sm-9">
                                        <input name="code" type="number" class="form-control"
                                               placeholder="Enter import price"
                                               ng-model="formUpdatePd.importPrice" ng-required="true">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Giá bán</label>
                                    <div class="col-sm-9">
                                        <input name="code" type="number" class="form-control"
                                               placeholder="Enter price"
                                               ng-model="formUpdatePd.price" ng-required="true">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Màu sắc</label>
                                    <div class="col-sm-9">
                                        <select class="form-select" ng-model="formUpdatePd.color.id" required>
                                            <option selected disabled value="">Choose...</option>
                                            <option ng-repeat="c in colors" ng-value="{{c.id}}">{{ c.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Kích cỡ</label>
                                    <div class="col-sm-9">
                                        <select class="form-select" ng-model="formUpdatePd.size.id" required>
                                            <option selected disabled value="">Choose...</option>
                                            <option ng-repeat="s in sizes" ng-value="{{s.id}}">{{ s.name }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-3 col-form-label">Số lượng tồn</label>
                                    <div class="col-sm-9">
                                        <input name="code" type="number" class="form-control"
                                               placeholder="Nhập số lượng tồn..."
                                               ng-model="formUpdatePd.quantity" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex justify-content-end">
                                    <label for="imageUpdate1">
                                        <img src="/assets/img/no-img.png" id="imageupdate-preview1"
                                             style="width: 100px; height: 100px;"/>
                                    </label>
                                    <input class="form-control" name="path" style="display: none"
                                           type="file" id="imageUpdate1" accept="image/*"/>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <label for="imageUpdate2">
                                        <img ng-src="{{imagelist[0].path}}" id="imageupdate-preview2"
                                             style="width: 100px; height: 100px;"/>
                                    </label>
                                    <input class="form-control" name="path" style="display: none"
                                           type="file" id="imageUpdate2" accept="image/*"/>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <label for="imageUpdate3">
                                        <img src="/assets/img/no-img.png" id="imageupdate-preview3"
                                             style="width: 100px; height: 100px;"/>
                                    </label>
                                    <input class="form-control" name="path" style="display: none"
                                           type="file" id="imageUpdate3" accept="image/*"/>
                                </div>

                                {{imagelist[0].path}}
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" ng-click="cancelEditPd()"
                                data-bs-toggle="modal" data-bs-target="#modalDetail" data-bs-dismiss="modal">Hủy
                        </button>
                        <button class="btn btn-primary" ng-click="submitProductDetail()"
                                data-bs-toggle="modal" data-bs-target="#modalDetail" data-bs-dismiss="modal">Xác nhận
                        </button>
                        <button class="btn btn-primary" ng-click="saveImage()"
                                data-bs-toggle="modal" data-bs-target="#modalDetail" data-bs-dismiss="modal">a
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--        multiple modal-->
        <div class="modal fade" id="productInfo" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">Thêm mới sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="multiStepForm" class="form-validation" role="form" novalidate>
                            <!--                                <div class="animate-switch" ng-switch-when="stage1">-->
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Tên</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"
                                           placeholder="Nhập tên sản phẩm"
                                           ng-model="formInput.name" ng-required="true">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Cổ áo</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"
                                           placeholder="Nhập cổ áo..."
                                           ng-model="formInput.collar" ng-required="true">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Tay áo</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"
                                           placeholder="Nhập tay áo..."
                                           ng-model="formInput.wrist" ng-required="true">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Loại</label>
                                <div class="col-sm-9">
                                    <select class="form-select" ng-model="formInput.category.id" required>
                                        <option selected disabled value="">Chọn loại...</option>
                                        <option ng-repeat="c in categories" value="{{c.id}}">{{ c.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Chất liệu</label>
                                <div class="col-sm-9">
                                    <select class="form-select" ng-model="formInput.material.id" required>
                                        <option selected disabled value="">Chọn chất liệu...</option>
                                        <option ng-repeat="m in materials" value="{{m.id}}">{{ m.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Thương hiệu</label>
                                <div class="col-sm-9">
                                    <select class="form-select" ng-model="formInput.brand.id" required>
                                        <option selected disabled value="">Chọn thương hiệu...</option>
                                        <option ng-repeat="b in brands" value="{{b.id}}">{{ b.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#productDescribe" data-bs-toggle="modal"
                                data-bs-dismiss="modal">Tiếp
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="productDescribe" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Mô tả</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div id="div_editor" style="max-width: 20px">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info" data-bs-target="#productInfo" data-bs-toggle="modal"
                                data-bs-dismiss="modal">Quay lại
                        </button>
                        <button class="btn btn-primary" data-bs-target="#productConfirm" data-bs-toggle="modal"
                                data-bs-dismiss="modal" ng-click="cc1()">Tiếp
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="productConfirm" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel3">Xác nhận thông tin</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Tên: {{formInput.name}}</p>
                        <p>Cổ áo: {{formInput.collar}}</p>
                        <p>Tay áo: {{formInput.wrist}}</p>
                        <p>Loại: {{formInput.category}}</p>
                        <p>Chất liệu: {{formInput.material}}</p>
                        <p>Thương hiệu: {{formInput.brand}}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info" data-bs-target="#productDescribe" data-bs-toggle="modal"
                                data-bs-dismiss="modal">Quay lại
                        </button>
                        <button class="btn btn-success" data-bs-toggle="modal"
                                data-bs-dismiss="modal" ng-click="create()">Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--  End Code  -->
</main>

</body>

</html>