


<section style="margin-top: 82px;" class="container-fluid" ng-init="listRatesFuc()">

    <div style="margin-bottom: 40px;padding: 0 64px;" class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">

            <div class="account-page-title">
                <span>Tài khoản của bạn</span>
            </div>


            <div class="collapsible-account-content">
                <div class="block-title">
                    <strong class="customer-name"> Hải Phạm</strong>
                </div>
                <div class="block-content block-collapsible-nav-content">
    
    
    
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-info">Thông tin tài khoản</a></li>
                    </ul>
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-history">Lịch sử mua hàng</a></li>
                    </ul>
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-address">Địa chỉ giao hàng</a></li>
                    </ul>
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-favorite">Sản phẩm yêu thích</a></li>
                    </ul>
                    <ul class="nav items"><li class="nav item current"><a href="#!account-evaluate"><strong>Đánh giá và phản hồi</strong></a></li>
                    </ul>
                <hr>
    
                <ul class="nav items">
                    <li class="nav item current"><a href=""   ng-click="logout()">Đăng xuất</a></li>
                </ul>
                </div>
            </div>
      
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6 mb-4">
           <div class="column-main">
            <div class="page-title-wrapper">
                <h1 class="page-title">
                    <span class="base">Đánh giá</span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6 " ng-repeat="rate in listRates">
                    <div class="rate-item">
                        <div style="display: inline-block;">
                            <div class="star-container" style="display: inline-block;">
                                <span class="fa fa-star checked" ng-repeat="i in getNumber(rate.rate) track by $index"></span>
                            </div>
                        </div>
                        <p><strong>Sản phẩm:</strong> 
                            {{ rate.productDetail.product.name }}
                            {{ rate.productDetail.product.category.name }}
                            {{ rate.productDetail.product.material.name }}
                            {{ rate.productDetail.product.code }}
                        </p>
                        <p><strong>Nội dung:</strong> {{ rate.content }}</p>
                        <div style="display: flex;justify-content: space-between;    align-items: center;">
                            <p>{{ rate.createdAt | date:'dd/MM/yyyy' }}</p>
                            <div style="margin: 10px;">
                                <button ng-click="deleteDataRate(rate.id)"  class="btn btn-outline-primary w-30">Xóa</button>
                                <a href="#!product-detail/{{rate.productDetail.product.id}}"  class="btn btn-primary">Xem sản phẩm</a>
                            </div>
         
                        </div>
                    </div>
                </div>
            </div>
            
            
            
           </div>
        </div>
    </div>
</section>
