


<section style="margin-top: 82px;" class="container-fluid" ng-init="listBills()">

    <div style="margin-bottom: 40px;padding: 0 64px;" class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">

            <div class="account-page-title">
                <span>Tài khoản của bạn</span>
            </div>


            <div class="collapsible-account-content">
                <div class="block-title">
                    <strong class="customer-name"> Hải Phạm</strong>
                </div>
                <div class="block-content block-collapsible-nav-content">
    
    
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-info">Thông tin tài khoản</a></li>
                    </ul>
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-history"><strong>Lịch sử mua hàng</strong></a></li>
                    </ul>
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-address">Địa chỉ giao hàng</a></li>
                    </ul>
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-favorite">Sản phẩm yêu thích</a></li>
                    </ul>
                    <ul class="nav items"><li class="nav item current"><a href="#!account-evaluate">Đánh giá và phản hồi</a></li>
                    </ul>
                <hr>
    
                <ul class="nav items">
                    <li class="nav item current"><a href=""   ng-click="logout()">Đăng xuất</a></li>
                </ul>
                </div>
            </div>
      
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6 mb-4">
            <div class="column-main">
                <div class="page-title-wrapper">
                    <h1 class="page-title">
                        <span class="base">Lịch sử mua hàng</span>
                    </h1>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã hóa đơn</th>
                                <th>Ngày thanh toán</th>
                                <th>Ngày giao hàng</th>
                                <th>Phí vận chuyển</th>
                                <th>Trạng thái thanh toán</th>
                                <th>Xem chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bill in listBills">
                                <td>{{ bill.code }}</td>
                                <td>{{ bill.paymentDate | date:'dd/MM/yyyy' }}</td>
                                <td>{{ bill.deliveryDate | date:'dd/MM/yyyy' }}</td>
                                <td>{{ bill.shippingFee }}</td>
                                <td>{{getStatusText(bill.status) }}</td>

                                <td>
                                
            <a ng-href="#!account-historyDetail?billId={{bill.id}}" class="btn btn-primary">Xem chi tiết</a>
                                
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
