<section style="margin-top: 82px;" class="container-fluid">

    <div style="margin-bottom: 40px;padding: 0 64px;" class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">

            <div class="account-page-title">
                <span>Tài khoản của bạn</span>
            </div>


            <div class="collapsible-account-content">
                <div class="block-title">
                    <strong class="customer-name">{{userData.fullName}}</strong>
                </div>
                <div class="block-content block-collapsible-nav-content">
     
    
     
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-info"><strong>Thông tin tài khoản</strong></a></li>
                    </ul>
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-history">Lịch sử mua hàng</a></li>
                    </ul>
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-address">Địa chỉ giao hàng</a></li>
                    </ul>
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-favorite">Sản phẩm yêu thích</a></li>
                    </ul>
                    <ul class="nav items"><li class="nav item current"><a href="#!account-evaluate">Đánh giá và phản hồi</a></li>
                    </ul>
                <hr>
    
                <ul class="nav items">
                    <li class="nav item current"><a href=""   ng-click="logout()">Đăng xuất</a></li>
                </ul>
                </div>
            </div>
      
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6 mb-4">
           <div class="column-main">
            <div class="page-title-wrapper">
                <h1 class="page-title">
                    <span class="base">Thông tin tài khoản</span>
                </h1>
            </div>
         <div class="row">
            
                <div class="block-account-information col-lg-6 col-md-6 col-sm-6 mb-4">
                    <!-- Hiển thị ảnh đại diện -->
                    <img style="max-width: 100%; margin: auto" class="rounded-4 fit" ng-src="{{ userData.avatar }}" />
                
                    <form class="form-edit-account" style="margin-top: 40px;">
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Mật khẩu mới:</label>
                            <input ng-model="passwordData.newPassword" type="password" class="form-control" id="newPassword" placeholder="Nhập mật khẩu mới" required>
                            <p ng-if="!isPasswordValid() && passwordData.newPassword && passwordData.confirmNewPassword" >Mật khẩu có độ dài tối thiểu 10 kí tự, viết Hoa, chứa kí tự số</p>
                        </div>
                    
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Xác nhận mật khẩu mới:</label>
                            <input ng-model="passwordData.confirmNewPassword" type="password" class="form-control" id="confirmNewPassword" placeholder="Nhập lại mật khẩu mới" required>
                            <!-- Thông báo khi mật khẩu không hợp lệ -->
                  
                            <p ng-if="passwordData.newPassword !== passwordData.confirmNewPassword && passwordData.confirmNewPassword !== ''" style="color: red;">Mật khẩu không trùng khớp!</p>
                        </div>
                    
                        <button ng-click="checkPassword()" class="btn btn-primary">Đổi mật khấu</button>
                    </form>
                    
                    
                    
                </div>
                
            <div class="personal-information col-lg-8 col-md-6 col-sm-6 mb-4">
                <form class="form-edit-account">
                    <div class="form-group mb-3" ng-class="{ 'has-error': isFullNameInvalid }">
                      <label for="fullName" class="form-label">Họ và tên:</label>
                      <input ng-model="userData.fullName" type="text" class="form-control" id="fullName" placeholder="Họ và tên">
                      <p style="color: red;" class="error-message" ng-if="isFullNameInvalid">Họ và tên không được để trống.</p>
                    </div>
                
                    <div class="form-group mb-3" ng-class="{ 'has-error': isEmailInvalid }">
                      <label for="email" class="form-label">Email:</label>
                      <input ng-model="userData.account.email" type="email" class="form-control" id="email" placeholder="Email">
                      <p style="color: red;" class="error-message" ng-if="isEmailInvalid">Email không hợp lệ.</p>
                    </div>
                
                    <div class="form-group mb-3" ng-class="{ 'has-error': isPhoneNumberInvalid }">
                      <label for="phoneNumber" class="form-label">Số điện thoại:</label>
                      <input ng-model="userData.account.phoneNumber" type="tel" class="form-control" id="phoneNumber" placeholder="Số điện thoại">
                      <p style="color: red;" class="error-message" ng-if="isPhoneNumberInvalid">Số điện thoại không hợp lệ.</p>
                    </div>
                
                    <div style="display: flex; margin: 14px 0px;" class="form-group" ng-class="{ 'has-error': isGenderInvalid }">
                      <label style="margin-right: 16px;">Giới tính:</label>
                      <div class="form-check" style="margin-right: 16px;">
                        <input class="form-check-input" type="radio" id="male" ng-model="userData.gender" ng-value="true">
                        <label class="form-check-label" for="male">Nam</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" id="female" ng-model="userData.gender" ng-value="false">
                        <label class="form-check-label" for="female">Nữ</label>
                      </div>
                      <p style="color: red;" class="error-message" ng-if="isGenderInvalid">Vui lòng chọn giới tính.</p>
                    </div>
                
                    <button class="btn btn-primary" ng-click="updateAccount(userData)">Cập nhật</button>
                  </form>
                
            </div>
         </div>
           </div>
        </div>
    </div>
</section>


         <!-- <div class="form-group mb-3">
                        <label for="birthday">Ngày sinh:</label>
                        <input type="date" class="form-control" id="birthday" ng-model="birthDate ">
                    </div> -->
                    <!-- <div>
                        <label>Ngày sinh hiện tại: {{ userData.birthDate }}</label>
                    </div>
                    
                    <div>
                        <label>Ngày sinh hiện tại: {{ birthDate }}</label>
                    </div>
                     -->