<section>
  <h1>Khuyến Mại</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item li-breadcrumb-item-style">
        <a href="@{/admin/index}">Trang Chủ</a>
      </li>
      <li class="breadcrumb-item active">Khuyến Mại</li>
    </ol>
  </nav>

  <button
    type="button"
    class="btn btn-outline-success mb-2"
    data-bs-toggle="modal"
    ng-click="resetFormInput()"
    data-bs-target="#modalAdd"
  >
    Thêm Khuyến Mại
  </button>
  <!--  Begin code  -->
  <section class="section">
    <div>
      <div class="row">
        <div class="col-md-1">
          <!-- Điều chỉnh class col-md-6 tùy theo cỡ màn hình mong muốn -->
          <select
            class="form-select"
            ng-model="paper.size"
            ng-options="size for size in [5, 10, 20, 50, 100]"
            ng-change="changePageSize()"
          >
            <!-- <option value="selected">0</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option> -->
          </select>
        </div>
        <div class="col-md-2">
          <select
            name=""
            id="formtimkiemstatus"
            class="form-control"
            aria-label="Default select example"
            ng-model="formtimkiem"
            ng-change="timkiemStatus()"
          >
            <option value="1">Chọn trạng thái</option>
            <option value="0">Chưa hoạt động</option>
            <option value="5">Đang hoạt động</option>
            <option value="2">Hết khuyến mại</option>
            <option value="3">Hết hạn</option>
            <option value="4">Đã xóa</option>
          </select>
        </div>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="fullName"
            ng-model="searchVoucher"
            placeholder="Tìm kiếm theo mã hoặc tên"
          />
        </div>
      </div>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th>STT</th>
            <th scope="">Mã</th>
            <th scope="">tên</th>
            <th scope="">Loại Khuyến Mại</th>
            <th scope="">Tối Thiểu</th>
            <th scope="">Số Lượng</th>
            <th scope="">Trạng Thái</th>
            <th scope="">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="l in paper.items | filter: searchVoucher">
            <td>{{$index + ((paper.page) * paper.size) +1}}</td>
            <td class="col-1">{{l.code}}</td>
            <td class="col-2">{{l.name}}</td>
            <td class="col-2">
              {{l.valueType == 0 ? "Giam theo gia tien" : "Giam theo %"}}
            </td>
            <td class="text-right col-2">
              {{l.minimumTotalAmount | number}} đ
            </td>
            <td class="col-1">{{l.quantity}}</td>
            <!-- <td class="col-2" ng-switch="l.status">
              <span ng-switch-when="0">Chưa hoạt động</span>
              <span ng-switch-when="1">Đang hoạt động</span>
              <span ng-switch-when="2">Hết khuyến mại</span>
              <span ng-switch-when="3">Hết hạn</span>
              <span ng-switch-default>Đá xóa</span>
            </td> -->
            <td class="col-1" ng-switch="l.status">
              <span ng-switch-when="0">
                <div class="badge bg-warning text-wrap">Chưa hoạt động</div>
              </span>
              <span ng-switch-when="1">
                <div class="badge bg-success text-wrap">Đang hoạt động</div>
              </span>
              <span ng-switch-when="2">
                <div class="badge bg-info text-wrap">Hết khuyến mại</div>
              </span>
              <span ng-switch-when="3">
                <div class="badge bg-danger text-wrap">Hết hạn</div>
              </span>
              <span ng-switch-when="4">
                <div class="badge bg-danger text-wrap">Đã xóa</div>
              </span>
            </td>

            <td class="col-2">
              <button
                title="Show data"
                ng-click="show(l)"
                type="button"
                class="btn btn-info"
                data-bs-toggle="modal"
                data-target=".bd-example-modal-lg"
                data-bs-target="#modalShow"
                style="background-color: #00b63e"
              >
                <i class="bi bi-eye-fill"></i>
              </button>
              <button
                title="Edit data"
                ng-click="edit(l)"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modalAdd"
                class="btn btn-info"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                title="Delete data"
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal-{{l.id}}"
              >
                <i class="ri-delete-bin-fill"></i>
              </button>
              <div
                class="modal fade"
                id="deleteModal-{{l.id}}"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Bạn có chắc muốn xóa không?
                      </h5>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        ng-click="updateStatusVoucher(l)"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                      >
                        Xoá
                      </button>
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Đóng
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" ng-repeat="pageNum in displayPageRange()">
            <a class="page-link" href="#" ng-click="setPage(pageNum)"
              >{{pageNum}}</a
            >
          </li>
        </ul>
      </nav>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" title="First page">
            <button ng-click="paper.first()" class="page-link">
              <!-- <i class="fa-solid fa-backward"></i> -->First
            </button>
          </li>
          <li class="page-item" title="Prev page">
            <button ng-click="paper.prev()" class="page-link">
              <!-- <i class="fa-solid fa-backward-step"></i> -->Previous
            </button>
          </li>
          <li class="page-item">
            <button class="page-link">
              {{paper.page + 1}}/{{paper.count}}
            </button>
          </li>
          <li class="page-item" title="Next page">
            <button ng-click="paper.next()" class="page-link">
              <!-- <i class="fa-solid fa-forward-step"></i> -->Next
            </button>
          </li>
          <li class="page-item" title="End page">
            <button ng-click="paper.last()" class="page-link">
              <!-- <i class="fa-solid fa-forward"></i> -->Last
            </button>
          </li>
        </ul>
      </nav>
    </div>

    <!--        // modal add-->
    <div
      class="modal fade"
      id="modalAdd"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div
              class="pagetitle col-5 container"
              name="label1"
              style="text-align: center; font-size: 20px; margin-left: 130px"
            >
              {{label1.update}} Khuyến Mại
            </div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              name="addformVoucher"
              ng-submit="addformVoucher.$valid  && submit()"
              style="font-size: 13px"
              ng-required="true"
            >
              <div class="row mb-3">
                <label for="inputName" class="col-sm-3 col-form-label"
                  >Tên
                  <span
                    ng-show="addformVoucher.name.$error.required"
                    class="error-message text-danger form-text"
                  >
                    *
                  </span>
                </label>
                <div class="col-sm-9">
                  <input
                    name="name"
                    id="inputName"
                    type="text"
                    class="form-control"
                    style="width: 100%; height: 34px; font-size: 13px"
                    placeholder="nhập tên"
                    ng-model="formInput.name"
                    ng-required="true"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputValue" class="col-sm-3 col-form-label"
                  >Loại
                  <span
                    ng-show="addformVoucher.value.$error.required"
                    class="error-message text-danger form-text"
                  >
                    *
                  </span>
                </label>
                <div class="col-sm-9">
                  <input
                    name="value"
                    id="inputValue"
                    type="text"
                    class="form-control"
                    style="width: 100%; height: 34px; font-size: 13px"
                    placeholder="Nhập loại"
                    ng-model="formInput.value"
                    ng-required="true"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputValue" class="col-sm-3 col-form-label"
                  >Loại Giá Trị
                  <span
                    ng-show="addformVoucher.valueType.$error.required"
                    class="error-message text-danger form-text"
                  >
                    *
                  </span>
                </label>
                <div class="col-sm-9" ng-required="true">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="valueType"
                    style="margin-right: 5px"
                    id="valueType1"
                    ng-model="formInput.valueType"
                    ng-value="0"
                    ng-checked="true"
                  />
                  <label class="form-check-label" for="valueType1"
                    >Giảm theo giá tiền</label
                  >
                  <input
                    class="form-check-input"
                    type="radio"
                    name="valueType"
                    style="margin-left: 40px; margin-right: 5px"
                    id="valueType2"
                    ng-model="formInput.valueType"
                    ng-value="1"
                  />
                  <label class="form-check-label" for="valueType2"
                    >Giảm theo %</label
                  >
                </div>
              </div>
              <div class="row mb-3">
                <label
                  for="inputMinimumTotalAmount"
                  class="col-sm-3 col-form-label"
                  >Tối Thiểu
                  <span
                    ng-show="addformVoucher.minimumTotalAmount.$error.required"
                    class="error-message text-danger form-text"
                  >
                    *
                  </span>
                </label>
                <div class="col-sm-9">
                  <input
                    name="minimumTotalAmount"
                    id="inputMinimumTotalAmount"
                    type="text"
                    class="form-control"
                    style="width: 100%; height: 34px; font-size: 13px"
                    placeholder="Nhập giá trị tối thiểu"
                    ng-model="formInput.minimumTotalAmount"
                    ng-required="true"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputQuantity" class="col-sm-3 col-form-label"
                  >Số Lượng
                  <span
                    ng-show="addformVoucher.quantity.$error.required"
                    class="error-message text-danger form-text"
                  >
                    *
                  </span>
                </label>
                <div class="col-sm-9">
                  <input
                    name="quantity"
                    id="inputQuantity"
                    type="number"
                    style="width: 100%; height: 34px; font-size: 13px"
                    class="form-control"
                    placeholder="Nhập số lượng"
                    ng-model="formInput.quantity"
                    ng-required="true"
                    ng-min="0"
                  />
                  <span
                    ng-show="addformVoucher.quantity.$error.min"
                    class="error-message text-danger form-text"
                    >Số lượng không thể âm</span
                  >
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputStartDate" class="col-sm-3 col-form-label"
                  >Ngày Bắt Đầu
                  <span
                    ng-show="addformVoucher.startDate.$error.required"
                    class="error-message text-danger form-text"
                  >
                    *
                  </span>
                </label>
                <div class="col-sm-9">
                  <input
                    name="startDate"
                    id="inputStartDate"
                    type="date"
                    class="form-control"
                    style="width: 100%; height: 34px; font-size: 13px"
                    ng-model="formInput.startDate"
                    ng-value="formInput.startDate | date:'yyyy-MM-dd'"
                    ng-required="true"
                    ng-change="validateDate()"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEndDate" class="col-sm-3 col-form-label"
                  >Ngày Kết Thúc
                  <span
                    ng-show="addformVoucher.endDate.$error.required"
                    class="error-message text-danger form-text"
                  >
                    *
                  </span>
                </label>
                <div class="col-sm-9">
                  <input
                    name="endDate"
                    id="inputEndDate"
                    type="date"
                    class="form-control"
                    style="width: 100%; height: 34px; font-size: 13px"
                    ng-model="formInput.endDate"
                    ng-value="formInput.endDate | date:'yyyy-MM-dd'"
                    ng-required="true"
                    ng-change="validateDate()"
                  />
                  <span ng-show="endDateError" style="color: red"
                    >Ngày kết thú phải lớn hơn ngày bắt đầu</span
                  >
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputDescribe" class="col-sm-3 col-form-label"
                  >Mô Tả
                  <span
                    ng-show="addformVoucher.describe.$error.required"
                    class="error-message text-danger form-text"
                  >
                    *
                  </span>
                </label>
                <div class="col-sm-9">
                  <textarea
                    name="describe"
                    id="inputDescribe"
                    type="text"
                    class="form-control"
                    rows="4"
                    cols="3"
                    placeholder="Nhập mô tả"
                    style="font-size: 13px"
                    ng-model="formInput.describe"
                    ng-required="true"
                  ></textarea>
                </div>
                <span
                  ng-show="addformVoucher.$error.required"
                  class="error-message text-danger form-text"
                  style="text-align: right"
                >
                  * Cannot be empty
                </span>
              </div>
              <div>
                <button
                  id="myButton"
                  type="button"
                  class="btn btn-secondary"
                  data-bs-toggle="modal"
                  style="background: #00b63e; margin-bottom: 10px"
                  data-bs-target="#modalAddExcel"
                >
                  Thêm file Excel
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
                <button
                  ng-click="resetFormInput()"
                  type="button"
                  class="btn btn-warning"
                >
                  Xoá form
                </button>
                <button type="submit" class="btn btn-primary">
                  {{label1.update}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Begin Modal Show -->
    <div
      class="modal fade"
      id="modalShow"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Khuyến mại chi tiết</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="style__table-info" id="selected__table-info-style">
              <thead>
                <tr>
                  <th>Thuộc tính</th>
                  <th>Giá trị</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mã</td>
                  <td>{{formShow.code}}</td>
                </tr>
                <tr>
                  <td>Tên</td>
                  <td>{{ formShow.name }}</td>
                </tr>
                <tr>
                  <td>Loại</td>
                  <td>{{formShow.value}}</td>
                </tr>
                <tr>
                  <td>Tổng tiền tối thiêu</td>
                  <td>{{formShow.minimumTotalAmount}}</td>
                </tr>
                <tr>
                  <td>Số Lượng</td>
                  <td>{{formShow.quantity}}</td>
                </tr>
                <tr>
                  <td>Mô tả</td>
                  <td>{{formShow.describe}}</td>
                </tr>
                <tr>
                  <td>Ngày Bắt Đầu</td>
                  <td>{{formShow.startDate}}</td>
                </tr>
                <tr>
                  <td>Ngày Kết Thúc</td>
                  <td>{{formShow.endDate}}</td>
                </tr>
                <tr>
                  <td>Ngày Tạo</td>
                  <td>{{formShow.createdAt}}</td>
                </tr>
                <tr>
                  <td>Ngày Sửa</td>
                  <td>{{formShow.updatedAt}}</td>
                </tr>
                <tr>
                  <td>Người Tạo</td>
                  <td>{{formShow.createdBy}}</td>
                </tr>
                <tr>
                  <td>Người Sửa</td>
                  <td>{{formShow.updatedBy}}</td>
                </tr>
                <tr>
                  <td>Trạng Thái</td>
                  <td>{{formShow.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Begin Modal add Excel -->
    <div
      class="modal fade"
      id="modalAddExcel"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Thêm Khuyến Mại Bằng file Excel</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div>
              <label>Chọn file Excel: </label>
              <input type="file" placeholder="Thêm bằng Excel" id="fileInput" />
              <button
                type="button"
                data-bs-dismiss="modal"
                ng-click="insertExcelVoucher()"
                style="background: #00b63e; margin-bottom: 10px"
              >
                Thêm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Update -->
  </section>
  <!--  End Code  -->
</section>
