<!-- cart + summary -->
<section style="    margin-top: 82px;"  class="bg-light my-5" ng-init="checkThePayper()">
  <div style="display: flex;justify-content: center;">
    <div class="category-container">
      <div class="heading-data__title" id="headingTitle">
        DANH MỤC SẢN PHẨM
      </div>
      <div class="category-body">
        <div class="col-md-4">
          <div class="category-data" id="categoryDataContainer">
            <ul >
            <li ng-repeat="category in dataFill.categoryList">
              <a ng-href="#!product?categoryId={{category.id}}" class="text-dark">{{category.name}}</a>
            </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-primary" ng-click="goToOfView()" ng-show="isAdmin">Chức năng Admin</button>
      </div>
  
  
      <div class=" d-flex justify-content-start" style="width: 32%;">
        <div style=" border-radius: 10px;    width: 100%;" class="input-group">
          <div class="form-outline">
            <input style="border-bottom: 1px solid #cdcdcd;" type="search" ng-click="openOverlaySearch()" 
              class="form-control" readonly />
            <label class="form-label">Tìm kiếm sản phẩm</label>
          </div>
          <button type="button" class="btn btn-primary shadow-0" onclick="openOverlay()">
            <i class="fas fa-search fa-lg"></i>
          </button>
  
        </div>
      </div>
    </div>
  </div>

  <div class="overlay" id="overlay" class="inactive" ng-click="closeOverlay($event)">
    <div class="header-search">
      <button type="button" class="btn btn-light shadow-0 closeBtn" ng-click="toggleOverlaySearch()">
        <i class="fa-solid fa-xmark fa-lg"></i>
      </button>
      <form class="from-search"  >
        <div class="input-group">
          <div class="form-outline w-100">
          <input style="border-bottom: 1px solid #cdcdcd;" type="search" id="form1" class="form-control"
    ng-model="searchText" ng-change="loadProductSearch()" />


          </div>
          <button type="button" class="btn btn-primary shadow-0">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="product-display">
      <div class="container-fluid">
        <div  class="row" id="productDisplay">
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container">
      <div style="height: 371px;" class="row">
        <div class=" d-flex justify-content-center align-items-center">
            <div>
                <div class="mb-4 text-center">
                    <i  class="fa-solid fa-circle-check" style="color: #2e8a15;font-size: 80px;"></i>

                </div>
                <div class="text-center">
                    <h1>Thank You !</h1>
                    <p>Thanh toán thành công</p>
                    <a href="#!home" class="btn btn-primary">Back Home</a>

                </div>
            </div>
      </div>
    </div>
  </section>
