<!--Main Navigation-->

<!-- sidebar + content -->
<section style="    margin-top: 82px;"  class="container-fluid">
  <div class="row">
    <div style="padding: 46px;" class="col-lg-12">
      <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3 justify-content-center"> 
        <div style="width: 40%;" class="input-group text-center"> <!-- Điều chỉnh chiều rộng của ô search -->
          <div class="form-outline" style="margin: auto;">
            <input style="border-bottom: 1px solid #cdcdcd; " type="search" id="form1" class="form-control" ng-model="searchText" ng-change="loadMore()" />
          </div>
          <button type="button" class="btn btn-primary shadow-0">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </header>
    </div>
    
      <div class="row">
        <div class="col-lg-12"> <!-- Dùng cột 12 để thông tin nằm trên cùng -->
          <div class="info-search text-center mb-4"> <!-- Thêm margin bottom để căn chỉnh -->
            <h5>Kết quả tìm kiếm cho từ khóa "{{searchText}}"</h5>

            <strong class="d-block py-2">{{ searchResultsLength }} Sản phẩm</strong>
          </div>
        </div>
      </div>

        <div class="row">
          
            <div ng-repeat="product in productSearch" class="col-lg-2 col-md-6 col-sm-6 mb-4">
            <div class="card w-100 my-2 shadow-2-strong">
              <!-- <img ng-src="{{ product.path }}"class="card-img-top" /> -->
              <a href="#!product-detail/{{product.id}}">
                <div class="d-flex justify-content-between align-items-center info-product_header">
                  <div class="d-flex align-items-center">
                    <p style="    color: black;" class="mb-0 me-1">{{product.rate}}</p>
                    <i style="    margin: 0 2px;color: black;
                    font-size: 10px;" class="fa-solid fa-star"></i>
                  </div>
                  <p class="mb-0">({{product.totalQuantity}})</p>
                </div>
                <img style="position: relative;" class="card-img-top" width="100%" height="100%" class="rounded-2" loading="lazy"
                  ng-src="{{ product.path }}" />
              </a>
              <div class="card-body d-flex flex-column">
                <div style="display: flex; justify-content: space-between;">
                  <span class="product-price"> {{ product.price | number}} đ</span>
                  <a href="#" class="btn btn-light  py-2 icon-hover px-3">
                    <i class="me-1 fa fa-heart fa-lg"></i>
                  </a>
                </div>
                <p class="card-title">
                  {{ product.name }}
                  {{ product.nameCategory }}
                  {{ product.nameMaterial }}
                  {{ product.code }}</p>
              </div>
            </div>
          </div>
        </div>
       
        <hr />
  
        <button ng-if="showLoadMore" class="btn btn-primary" ng-click="loadMore()">Xem thêm</button>
      </div>
    </div>
    <!-- </div> -->
  </section>