<section class="section dashboard">
  <div>
    <select
      class="form-select"
      aria-label="Default select example"
      id="selectduliet"
      ng-model="selectedOption"
      ng-change="delayedExecution();listCustomerDay();trafficChart();Top5BanChay();tongKhachHang(); tongHoaDon(); tongTien(); he();tongHoaDontile();"
    >
      <option selected value="1">Theo ngày</option>
      <option value="2">Theo tháng</option>
      <option value="3">Theo năm</option>
    </select>
  </div>
  <br />
  <div class="row">
    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Hóa Đơn <span>| {{hi}}</span></h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                  <h6>{{getcodeday}}</h6>
                  <span class="text-success small pt-1 fw-bold"
                    >{{getcodeday/getcodedaytile}}%</span
                  >
                  <span class="text-muted small pt-2 ps-1"
                    >{{getcodeday >= getcodedaytile ? 'Tăng': 'Giảm'}}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Sales Card -->

        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5 class="card-title">Sản Phẩm Đã Bán <span>| {{hi}}</span></h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>{{listcustomeryear}}</h6>
                  <span class="text-danger small pt-1 fw-bold"
                    >{{listcustomeryear/listcustomeryeartile}}%</span
                  >
                  <span class="text-muted small pt-2 ps-1"
                    >{{listcustomeryear >= listcustomeryeartile ? 'Tăng':
                    'Giảm'}}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Customers Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h5 class="card-title">Doanh Thu <span>| {{hi}}</span></h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                  <h6>{{getsum}}</h6>
                  <span class="text-success small pt-1 fw-bold"
                    >{{getsum/getsumtile}}%</span
                  >
                  <span class="text-muted small pt-2 ps-1"
                    >{{getsum >= getsumtile ? 'Tăng': 'Giảm'}}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Revenue Card -->

        <!-- Reports -->
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Báo Cáo <span>{{hi}}</span></h5>

              <!-- Line Chart -->
              <div id="reportsChart"></div>
            </div>
          </div>
        </div>
        <!-- End Reports -->

        <!-- Top Selling -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">
            <div class="card-body pb-0">
              <h5 class="card-title">
                Top 5 Bán Chạy
                <span>| {{hi}}</span>
              </h5>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Preview</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sold</th>
                    <th scope="col">Revenue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="top in topbanchay">
                    <th scope="row">
                      <a href="#"
                        ><img
                          src="{{top.anh_mac_dinh}}"
                          alt=""
                          height="50px"
                          width="50px"
                      /></a>
                    </th>
                    <td>
                      <a href="#" class="text-primary fw-bold"
                        >{{top.ten_sanpham}}</a
                      >
                    </td>
                    <td>{{top.price}}</td>
                    <td class="fw-bold">{{top.so_luong_ban}}</td>
                    <td>{{top.price * top.so_luong_ban}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Bán hàng gần đây <span></span></h5>
              <div class="row">
                <div class="col-md-2">
                  <!-- Điều chỉnh class col-md-6 tùy theo cỡ màn hình mong muốn -->
                  <select
                    class="form-select"
                    ng-model="paper.size"
                    ng-change="changePageSize()"
                    ng-options="size for size in [5, 10, 20, 50, 100]"
                    style="width: 80px"
                  ></select>
                </div>
                <div class="col-4">
                  <select
                    name=""
                    id="formtimkiemstatus"
                    class="form-control"
                    aria-label="Default select example"
                    ng-model="formtimkiem"
                    ng-change="timkiemStatus()"
                  >
                    <!-- <option value="1">Đá hủy</option> -->
                    <option value="1">Tất cả</option>
                    <option value="0">Chờ xác nhận</option>
                    <option value="2">Đang giao hàng</option>
                    <option value="3">Thành công</option>
                    <option value="4">Đá hủy</option>
                    <option value="5">Chờ thanh toán</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    name="fullName"
                    topbanchaymonth
                    +
                    ng-model="searchVoucher"
                    placeholder="Search"
                  />
                </div>
              </div>
              <br />
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Loại</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="get in paper.items | filter: searchVoucher">
                    <td>{{$index + (paper.page * paper.size) +1}}</td>
                    <td>
                      <a href="#" class="text-primary"
                        >{{get.customerEntity.fullName}}</a
                      >
                    </td>
                    <td>
                      <a href="#" class="text-primary"
                        >{{get.employee.fullName}}</a
                      >
                    </td>
                    <td>{{get.totalAmountAfterDiscount}}</td>
                    <td class="col-1" ng-switch="get.typeBill">
                      <span ng-switch-when="1">
                        <div
                          class="badge bg-secondary text-wrap"
                          style="width: 5rem"
                        >
                          Bán nhanh
                        </div>
                      </span>
                      <span ng-switch-when="2">
                        <div
                          class="badge text-wrap"
                          style="width: 5rem; background-color: darkorchid"
                        >
                          Online
                        </div>
                      </span>
                      <span ng-switch-when="3">
                        <div
                          class="badge bg-info text-wrap"
                          style="width: 5rem"
                        >
                          Bán giao hàng
                        </div>
                      </span>
                    </td>
                    <td class="col-2" ng-switch="get.status">
                      <span ng-switch-when="1">
                        <div class="badge bg-warning text-wrap">Chờ xử lý</div>
                      </span>
                      <span ng-switch-when="2">
                        <div class="badge bg-primary text-wrap">
                          Đang giao hàng
                        </div>
                      </span>
                      <span ng-switch-when="3">
                        <div class="badge bg-success text-wrap">Thành công</div>
                      </span>
                      <span ng-switch-when="4">
                        <div class="badge bg-danger text-wrap">Đã hủy</div>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <nav
                aria-label="Page navigation example"
                style="margin-left: 200px"
              >
                <ul class="pagination justify-content-e nd">
                  <li class="page-item">
                    <button ng-click="paper.first()" class="page-link">
                      First
                    </button>
                  </li>
                  <li class="page-item">
                    <button ng-click="paper.prev()" class="page-link">
                      Previous
                    </button>
                  </li>
                  <li class="page-item">
                    <a class="page-link"
                      >{{paper.page + 1}} of {{paper.count}}</a
                    >
                  </li>
                  <li class="page-item">
                    <button ng-click="paper.next()" class="page-link">
                      Next
                    </button>
                  </li>
                  <li class="page-item">
                    <button ng-click="paper.last()" class="page-link">
                      Last
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- End Recent Sales -->

        <!-- End Top Selling -->
      </div>
    </div>
    <!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">
      <!-- Website Traffic -->
      <div class="card">
        <div class="card-body pb-0">
          <h5 class="card-title">
            SẢn Phẩm Bán Nhiều Nhất<span>| {{hi}}</span>
          </h5>

          <div id="trafficChart" style="min-height: 400px" class="echart"></div>
        </div>
      </div>
      <!-- End Website Traffic -->
    </div>
    <!-- End Right side columns -->
  </div>
</section>
