<!-- cart + summary -->
<section class="bg-light my-5">
  <div class="container">
    <div class="row">
      <!-- cart -->
      <div class="col-lg-9">
        <div class="card border shadow-0">
          <div class="m-4">
            <div class="p-4">
              <h5 class="card-title mb-3">Giỏ hàng của bạn</h5>

              <hr />
              <div ng-repeat="item in cartItems" class="row gy-3 mb-4">
                <div class="col-lg-5">
                  <div class="me-lg-5">
                    <div class="d-flex">
                      <img ng-src="{{ item.images[0].path }}" class="border rounded me-3"
                        style="width: 96px; height: 96px" />
                      <div class="title-name">
                        <p href="#" class="nav-link">
                          <!-- Hiển thị thông tin khi đã đăng nhập -->
                          {{ item.productDetail.product.name }} {{
                          item.productDetail.product.category.name }} {{
                          item.productDetail.product.material.name }} {{
                          item.productDetail.product.code }}

                          <!-- Hiển thị thông tin khi chưa đăng nhập -->
                          {{ item.product.name }} {{ item.product.category.name
                          }} {{ item.product.material.name }} {{
                          item.product.code }}
                        </p>
                        <div class="title-detail" style="display: flex">
                          <p style="margin-right: 8px">
                            Màu sắc: {{item.color.name}}
                            {{item.productDetail.color.name}}
                          </p>
                          <p>
                            Kích cỡ: {{item.size.name}}
                            {{item.productDetail.size.name}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-sm-6 col-6 d-flex align-items-center">
                  <div class="text-price me-3">
                    <text class="h6">{{ item.price | number }} đ</text>
                  </div>
                  <div class="input-number flex-grow-1">
                    <input ng-model="item.quantity" type="number" min="1" ng-change="checkQuantityChange(item)"
                      ng-blur="cart.update(item.id, item.quantity)" class="form-control"
                      style="max-width: 70px; overflow: hidden" />
                  </div>

                  <div class="text-total_price ms-3" style="max-width: 100px; white-space: nowrap">
                    <text class="h6">{{ item.price * item.quantity | number }} đ</text>
                  </div>
                </div>
                <div class="col-lg col-sm-6 d-flex align-items-center">
                  <div class="w-100">
                    <button ng-click="cart.remove(item.id)" class="btn btn-light border text-danger icon-hover-danger"
                      style="
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                      ">
                      <i class="fa-solid fa-trash"></i>
                    </button>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary text-start float-end" ng-click="cart.clear()">
                    Xóa tất cả
                  </button>
                </div>
              </div>
            </div>

            <!-- Checkout -->
            <div class="p-4">
              <div class="d-flex align-items-center mb-3">
                <i style="margin-right: 6px;" class="fa-solid fa-map-location-dot"></i>
                <h5 class="m-0 ">Thông tin giao hàng</h5>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                  <p class="mb-0">Tên người nhận:</p>
                  <div class="form-outline custom-bg">
                    <input ng-model="bill.reciverName" type="text" id="reciverName" placeholder="Nhập tên người nhận"
                      class="form-control" />
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <p class="mb-0">Tỉnh/Thành phố</p>
                  <div class="form-outline">
                    <select id="city1" class="form-select custom-bg">
                      <option value="" selected>Chọn tỉnh thành</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <p class="mb-0">Quận/Huyện:</p>
                  <div class="form-outline">
                    <select id="district1" class="form-select custom-bg">
                      <option value="" selected>Chọn quận huyện</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <p class="mb-0">Phường/Xã:</p>
                  <div class="form-outline">
                    <select id="ward1" class="form-select custom-bg">
                      <option value="" selected>Chọn phường xã</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <p class="mb-0">Địa chỉ giao hàng:</p>
                  <div class="form-outline custom-bg">
                    <input type="text" id="houseNumber1" placeholder="Số nhà" class="form-control mt-2" />
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <p class="mb-0">Số điện thoại:</p>
                  <div class="form-outline custom-bg">
                    <input ng-model="bill.phoneNumber" type="tel" id="phoneNumber" ng-model="bill.phoneNumber"
                      placeholder="Nhập số điện thoại" class="form-control" />
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <label class="form-label" for="note">Ghi chú</label>
                  <textarea ng-model="bill.note" class="form-control card custom-bg" id="note"
                    placeholder="Nhập ghi chú" rows="4"></textarea>
                </div>
              </div>

            </div>
            <!-- Checkout -->
          </div>
        </div>
      </div>
      <!-- cart -->
      <!-- summary -->
      <div class="col-lg-3">
        <div class="card shadow-0 border">
          <div class="card-header">
            <div class="discount">
              <h5>Mã giảm giá / Quà tặng</h5>
              <!-- Modal -->
              <div class="modal fade" id="voucherModal" tabindex="-1" role="dialog" aria-labelledby="voucherModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="voucherModalLabel">Chọn Khuyến mãi</h5>
                      <button type="button" class="btn btn-light shadow-0" ng-click="back()">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    </div>
                    <div class="modal-body">
                      <!-- Nội dung của form -->
                      <div class="input-group mt-3 mb-4">
                        <input type="text" class="form-control border" ng-model="searchCode" placeholder="Mã" />
                        <button type="button" class="btn btn-primary shadow-0" ng-click="searchByCode()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                      <!-- Danh sách voucher -->
                      <div class="voucher-list mt-3 mb-4">
                        <div class="voucher-item row" ng-repeat="voucher in listVouchers"
                          ng-click="selectVoucher(voucher)" ng-class="{ 'selected-voucher': voucher.selected }">
                          <div class="col-4 ">
                            <div class="voucher-name">
                              <h5>{{ voucher.code }}</h5>
                              <p>({{ voucher.quantity }})</p>
                            </div>
                            <div class="voucher-details">
                              <p>HSD: {{ voucher.endDate | date:'dd/MM/yyyy' }}</p>
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="voucher-info">
                              <div class="voucher-value">
                                <p>Giảm {{ voucher.value | number}} đ cho đơn hàng {{ voucher.minimumTotalAmount |
                                  number }} đ</p>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
            

                  </div>
                </div>
              </div>

              <hr />
              <i class="fa-solid fa-tags"></i>

              <a href="#!cart" ng-click="openVoucherModal()">Chọn hoặc nhập mã</a>
              <p style="margin-top: 8px;" ng-style="voucherMessage === 'Mã giảm giá đã được áp dụng' ? {'color': 'green'} : {'color': 'red'}">{{ voucherMessage }}</p>

            </div>
          </div>



          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="mb-2">Tạm tính:</p>
              <p class="mb-2">{{ totalAmount | number }} đ</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mb-2">Giảm giá:</p>
              <p class="mb-2">{{valueVoucher | number }} đ</p>
            </div>
            <hr />
            <div class="d-flex justify-content-between">
              <p class="mb-2">Tổng tiền:</p>
              <p class="mb-2 fw-bold">{{totalAmountAfterDiscount | number }} đ</p>
            </div>

          </div>

          <div class="card-footer">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-wallet me-2"></i>
              <h5 class="m-0">Phương thức thanh toán</h5>
            </div>
            <hr>
            <ul class="list-unstyled mt-3" ng-repeat="paymentMethod in listPaymentMethods">
              <li>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="paymentMethod" value="payOnDelivery"
                         id="{{ 'paymentMethod_' + $index }}" ng-checked="selectedPaymentMethod === paymentMethod"
                         ng-click="selectPaymentMethod(paymentMethod)">
                  <label class="form-check-label" for="{{ 'paymentMethod_' + $index }}">
                    {{paymentMethod.name}}
                  </label>
                </div>
              </li>
            </ul>
            

            <div class="mt-3">
              <button ng-click="bill.purchase()" class="btn btn-success w-100 shadow-0 mb-2">
                Thanh toán
              </button>

              <a href="#!/home" class="btn btn-light w-100 border mt-2">Quay lại
              </a>
            </div>
          </div>



        </div>
      </div>
      <!-- summary -->
    </div>
  </div>
</section>
<!-- cart + summary -->
<section>
  <div class="container my-5">
    <header class="mb-4">
      <h3>Recommended items</h3>
    </header>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
          <div class="mask px-2" style="height: 50px">
            <div class="d-flex justify-content-between">
              <h6><span class="badge bg-danger pt-1 mt-3 ms-2">New</span></h6>
              <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
            </div>
          </div>
          <a href="#" class="">
            <!-- <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp"
              class="card-img-top rounded-2" /> -->
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <a href="#" class="nav-link">Gaming Headset with Mic</a>
            <div class="price-wrap mb-2">
              <strong class="">$18.95</strong>
              <del class="">$24.99</del>
            </div>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
          <div class="mask px-2" style="height: 50px">
            <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
          </div>
          <a href="#" class="">
            <!-- <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp"
              class="card-img-top rounded-2" /> -->
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <a href="#" class="nav-link">Apple Watch Series 1 Sport </a>
            <div class="price-wrap mb-2">
              <strong class="">$120.00</strong>
            </div>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card px-4 border shadow-0">
          <div class="mask px-2" style="height: 50px">
            <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
          </div>
          <a href="#" class="">
            <!-- <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp"
              class="card-img-top rounded-2" /> -->
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <a href="#" class="nav-link">Men's Denim Jeans Shorts</a>
            <div class="price-wrap mb-2">
              <strong class="">$80.50</strong>
            </div>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card px-4 border shadow-0">
          <div class="mask px-2" style="height: 50px">
            <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
          </div>
          <a href="#" class="">
            <!-- <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp"
              class="card-img-top rounded-2" /> -->
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <a href="#" class="nav-link">Mens T-shirt Cotton Base Layer Slim fit
            </a>
            <div class="price-wrap mb-2">
              <strong class="">$13.90</strong>
            </div>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Recommended -->