

    
    
      
      <section  class="bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-7 mb-4">
              <!-- <div class="card mb-4 border shadow-0">
                <div class="p-4 d-flex justify-content-between">
                  <div class="">
                    <h5>Have an account?</h5>
                    <p class="mb-0 text-wrap ">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
                    <a href="#" class="btn btn-outline-primary me-0 me-md-2 mb-2 mb-md-0 w-100">Register</a>
                    <a href="#" class="btn btn-primary shadow-0 text-nowrap w-100">Sign in</a>
                  </div>
                </div>
              </div> -->
      
              <!-- Checkout -->
              <div class="card shadow-0 border">
                <div class="p-4">
                
      
                  <h5 class="card-title mb-3">Thông tin giao hàng</h5>
                      <hr>
          
                      <div class="row">
                        <div class="col-md-6 col-lg-4 mb-3">
                          <p class="mb-0">Tên người nhận:</p>
                          <div class="form-outline">
                            <input ng-model="bill.reciverName" type="text" id="receiverName" placeholder="Nhập tên người nhận" class="form-control" />
                          </div>
                        </div>
                      
                        <div class="col-md-6 col-lg-4 mb-3">
                          <p class="mb-0">Tỉnh/Thành phố</p>
                          <div class="form-outline">
                            <select id="city1" class="form-select">
                              <option value="" selected>Chọn tỉnh thành</option>
                            </select>
                          </div>
                        </div>
                      
                        <div class="col-md-6 col-lg-4 mb-3">
                          <p class="mb-0">Quận/Huyện:</p>
                          <div class="form-outline">
                            <select id="district1" class="form-select">
                              <option value="" selected>Chọn quận huyện</option>
                            </select>
                          </div>
                        </div>
                      
                        <div class="col-md-6 col-lg-4 mb-3">
                          <p class="mb-0">Phường/Xã:</p>
                          <div class="form-outline">
                            <select id="ward1" class="form-select">
                              <option value="" selected>Chọn phường xã</option>
                            </select>
                          </div>
                        </div>
                      
                        <div class="col-md-6 col-lg-4 mb-3">
                          <p class="mb-0">Địa chỉ giao hàng:</p>
                          <div class="form-outline">
                            <input type="text" id="address" placeholder="Nhập địa chỉ" class="form-control" />
                            <input type="text" id="houseNumber1" placeholder="Số nhà" class="form-control mt-2" />
                          </div>
                        </div>
                      
                        <div class="col-md-6 col-lg-4 mb-3">
                          <p class="mb-0">Số điện thoại:</p>
                          <div class="form-outline">
                            <input ng-model="bill.phoneNumber" type="tel" id="phoneNumber" ng-model="bill.phoneNumber" placeholder="Nhập số điện thoại" class="form-control" />
                          </div>
                        </div>
                      
                        <div class="col-md-12 mb-3">
                          <label class="form-label" for="note">Ghi chú</label>
                          <textarea ng-model="bill.note" class="form-control" id="note" placeholder="Nhập ghi chú" rows="4"></textarea>
                        </div>
                      </div>

      
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">Keep me up to date on news</label>
                  </div>
      
                  <hr class="my-4" />
      
                  <div class="float-end">
                    <button class="btn btn-light border">Cancel</button>
                    <button class="btn btn-success shadow-0 border">Continue</button>
                  </div>

                  <div class="panel-footer text-right">
                    <button ng-click="bill.purchase()" class="btn btn-success">Purchase</button>
                </div>

                </div>
              </div>
              <!-- Checkout -->
            </div>
            <div class="col-xl-5 col-lg-5 d-flex justify-content-center justify-content-lg-end">
            <div class="card shadow-0 border w-100 ">
              <!-- <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;"> -->
                <div class="p-4">
                <h5 class="text-dark mb-3">Đơn hàng của bạn</h5>
                  <hr>
                  <div class="d-flex align-items-center mb-4">
                    <div class="me-3 position-relative">
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                        1
                      </span>
                      <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp" style="height: 96px; width: 96x;" class="img-sm rounded border" />
                    </div>
                    <div class="">
                      <a href="#" class="nav-link">
                        Gaming Headset with Mic <br />
                        Darkblue color
                      </a>
                      <div class="price text-muted">Total: $295.99</div>
                    </div>
                    <div class="ms-auto">
                      <!-- Số lượng -->
                      <div class="mb-2">Số lượng: 1</div>
                      <!-- Tổng tiền -->
                      <div class="text-muted">Tổng tiền: $295.99</div>
                    </div>
                  </div>
                  
      
                <div class="d-flex align-items-center mb-4">
                  <div class="me-3 position-relative">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                      1
                    </span>
                    <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp" style="height: 96px; width: 96x;" class="img-sm rounded border" />
                  </div>
                  <div class="">
                    <a href="#" class="nav-link">
                      Apple Watch Series 4 Space <br />
                      Large size
                    </a>
                    <div class="price text-muted">Total: $217.99</div>
                  </div>
                </div>
      
                <div class="d-flex align-items-center mb-4">
                  <div class="me-3 position-relative">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                      3
                    </span>
                    <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/1.webp" style="height: 96px; width: 96x;" class="img-sm rounded border" />
                  </div>
                  <div class="">
                    <a href="#" class="nav-link">GoPro HERO6 4K Action Camera - Black</a>
                    <div class="price text-muted">Total: $910.00</div>
                  </div>
                </div>
                  <hr>
           
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Tạm tính:</p>
                  <p class="mb-2">$195.90</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Giảm giá:</p>
                  <p class="mb-2 text-danger">- $60.00</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Tổng tiền:</p>
                  <p class="mb-2">+ $14.00</p>
                </div> 
             
                
              <div class="discount ">
                <h5>Mã giảm giá / Quà tặng</h5>
                <hr>
                <div class="input-group mt-3 mb-4">
                  <input type="text" class="form-control border" name="" placeholder="Promo code" />
                  <button class="btn btn-light text-primary border">Apply</button>
                </div>
      
              </div>

                
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
      
