<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Ngày Tạo</th>
        <th>Tổng Tiền Thanh Toán</th>
        <th>Số Điện Thoại</th>
        <th>Địa Chỉ</th>
        <th>Trạng Thái</th>
        <th>Chi tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order, count : ${listOrder}">
        <td th:text="${count.index + 1}"></td>
        <td th:text="${#dates.format(order.ngayTao, 'dd/MM/yyyy')}"></td>
        <td th:text="${#numbers.formatDecimal(order.tongTienTT, 0, 'COMMA', 2, 'POINT')} + ' VND'"></td>
        <td th:text="${order.sdt}"></td>
        <td th:text="${order.diaChi}"></td>
        <td>
        <span th:switch="${order.trangThai}">
            <span th:case="0">Đã hủy</span>
            <span th:case="1">Đã xác nhận</span>
            <span th:case="2">Đang chờ xác nhận</span>
            <span th:case="*">Không rõ</span>
        </span>
        </td>
        <td>
            <a th:href="@{/order/detail/{id}(id=${order.id})}" class="btn btn-primary">Xem chi tiết</a>
        </td>
        <td>
            <!-- Nút đã hủy -->
            <form th:if="${order.trangThai != 0}" th:action="@{'/admin/order/cancel/' + ${order.id}}" method="post">
                <input type="submit" value="Hủy" class="btn btn-danger">
            </form>
        </td>
        <td>

        <!-- Nút đã xác nhận -->
            <form th:if="${order.trangThai != 1}" th:action="@{'/admin/order/confirm/' + ${order.id}}" method="post">
                <input type="submit" value="Xác nhận" class="btn btn-success">
            </form>
        </td>
    </tr>
    </tbody>
</table>