<section  class="bg-light py-5">
  <div class="container">
    <div class="row">
<div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseOne">
            Danh mục
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse "
          aria-labelledby="headingOne">
          <div class="accordion-body">
            <ul ng-repeat="category in dataFill.categoryList" class="list-unstyled">
              <li>
                <a ng-href="#!product?categoryId={{category.id}}" class="text-dark">{{category.name}}</a>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
  </div>
  </div>
</section>


