<!--Main Navigation-->

<!-- sidebar + content -->
<section class="">
  <div class="container">
    <div class="row">
      <!-- sidebar -->
      <div class="col-lg-3">
        <!-- Toggle button -->
        <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span>Show filter</span>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
          <div class="accordion" id="accordionPanelsStayOpenExample">

            <!-- <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseOne">
                  Danh mục
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse "
                aria-labelledby="headingOne">
                <div class="accordion-body">
                  <ul ng-repeat="category in dataFill.categoryList" class="list-unstyled">
                    <li><a href="#" class="text-dark">{{category.name}} </a></li>
                  </ul>
                </div>
              </div>
            </div> -->

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                      data-mdb-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseTwo">
                      Màu sắc
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                  aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="color-circle-container">
                         <div class="col-md-3 color-circle"
                              ng-repeat="color in dataFill.colorList"
                              ng-style="{ 'background-color': color.colorCode }"
                              ng-class="{ 'btn-selected2': color.id === selectedColorHome }"
                              ng-click="selectColorHome(color.id)">
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
            <!-- Kích cỡ -->

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseThree">
                  Kích cỡ
                </button>
              </h2>

              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-md-3" ng-repeat="size in dataFill.sizeList">
                      <input type="checkbox" class="btn-check border justify-content-center" id="{{ size.id }}"
                        autocomplete="off" />
                      <label class="btn btn-white mb-1 px-1" style="width: 60px;border: 1px solid #ccc;"
                        for="{{ size.id }}">{{ size.name }}</label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- Chất liệu -->

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseFour">
                  Chất liệu
                </button>
              </h2>
              <!-- Danh sách chất liệu -->
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div ng-repeat="material in dataFill.materialList" class="form-check">
                        <input type="checkbox" class="form-check-input" id="{{ material.id }}" autocomplete="off" />
                        <label class="form-check-label" for="{{ material.id }}">{{ material.name }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <!-- Giá -->

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseFive">
                  Giá
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse " aria-labelledby="headingThree">
                <div class="accordion-body">
                  <div class="row mb-3">
                    <div class="col-6">
                      <p class="mb-0">
                        Thấp
                      </p>
                      <div style="border: 1px solid rgb(204, 204, 204);" class="form-outline ">
                        <input id="typeNumberMin" class="form-control" value="0"/>
                      </div>
                    </div>

                    <div class="col-6">
                      <p class="mb-0">
                        Cao
                      </p>
                      <div style="border: 1px solid rgb(204, 204, 204);" class="form-outline ">
                        <input  id="typeNumberMax" class="form-control" value="1000000"/>
                      </div>
                    </div>
                  </div>
                  <div class="range">
                    <input type="range" class="form-range" id="customRange1" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar -->
      <!-- content -->
      <div class="col-lg-9">
        <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
          <strong class="d-block py-2">32 Kết quả </strong>
          <div class="ms-auto">
            <select class="form-select d-inline-block w-auto border pt-1">
              <option value="0">Mới nhất</option>
              <option value="1">Bán chạy</option>
              <option value="2">Giá thấp đến cao</option>
              <option value="3">Giá cao đến thấp</option>
            </select>
          </div>
        </header>

        <div class="row">

          <div ng-repeat="product in products" class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
              <!-- <img ng-src="{{ product.path }}"class="card-img-top" /> -->
              <a href="#!product-detail/{{product.id}}">
                <img class="card-img-top" width="100%" height="100%" class="rounded-2" loading="lazy"
                  ng-src="{{ product.path }}" />
              </a>
              <div class="card-body d-flex flex-column">
                <div style="display: flex; justify-content: space-between;">
                  <span class="product-price"> {{ product.price | number}} đ</span>
                  <a href="#" class="btn btn-light  py-2 icon-hover px-3">
                    <i class="me-1 fa fa-heart fa-lg"></i>
                  </a>
                </div>

                <p class="card-title">
                  {{ product.name }}
                  {{ product.nameCategory }}
                  {{ product.nameMaterial }}
                  {{ product.code }}</p>

              </div>
            </div>
          </div>



        </div>

        <hr />

        <!-- Pagination -->
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
          <ul class="pagination">
            <li class="page-item" ng-class="{disabled: currentPage === 0}">
              <a class="page-link" href="#!home" ng-click="prevPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" ng-repeat="page in [].constructor(totalPages) track by $index"
              ng-class="{active: currentPage === $index}">
              <a class="page-link" href="#!home" ng-click="loadPage($index)">{{ $index + 1 }}</a>
            </li>
            <li class="page-item" ng-class="{disabled: currentPage === totalPages - 1}">
              <a class="page-link" href="#!home" ng-click="nextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

        <!-- Pagination -->

      </div>
    </div>
  </div>
</section>
<!-- sidebar + content -->