<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-8">
        <div class="row">
          <aside class="col-lg-2">
            <!-- List ảnh repeat nằm hàng dọc bên trái -->
            <div class="d-flex flex-column align-items-center">
              <a ng-repeat="image in images" ng-click="setMainImage(image.path)" class="border mb-2 rounded-2"
                data-type="image" class="item-thumb">
                <img width="90" height="100" class="rounded-2" ng-src="{{ image.path }}" />
              </a>
            </div>
          </aside>
          <aside class="col-lg-10">
            <!-- Ảnh main nằm bên phải -->
            <div class="border rounded-4 d-flex justify-content-center">
              <a data-fslightbox="mygalley" class="rounded-4" data-type="image">
                <img style="max-width: 100%; margin: auto" class="rounded-4 fit" ng-src="{{ mainImage }}" />
              </a>
            </div>
          </aside>
        </div>
      </div>

      <main class="col-lg-4">
        <div class="ps-lg-3">
          <div class="d-flex justify-content-between">
            <div>
              <span class="title-product">
                {{ productDetailInfo.olViewProductDetailRespone.name }} {{
                productDetailInfo.olViewProductDetailRespone.nameCategory }} {{
                productDetailInfo.olViewProductDetailRespone.nameMaterial }} {{
                productDetailInfo.olViewProductDetailRespone.code }}
              </span>
            </div>
          </div>

          <div class="d-flex flex-row mb-3">
            <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1"> 4.5 </span>
            </div>
            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
            <span class="text-success ms-2">In stock</span>
          </div>

          <div class="mb-3">
            <span class="productdetail-price">
              {{ productDetail.price | number}}
              đ</span>
          </div>

          <!-- Màu sắc -->
          <div class="row mb-4">
            <div class="col-md-4 col-6">
              <h6 class="mb-2">Màu sắc</h6>
            </div>
            <div class="d-flex">
              <div class="btn-detail  btncolorsize border border-secondary border-2"
                ng-repeat="color in productDetailInfo.listOfColor" ng-style="{ 'background-color': color.colorCode }"
                ng-class="{ 'btn-selected2': color.id === selectedColor }" ng-click="selectColor(color.id)"
                ng-init="$first && selectColor(color.id)"></div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-12">
              <h6 class="mb-2 d-block">Kích cỡ</h6>
              <div class="d-flex flex-wrap">
                <div class="btn-detail border border-secondary btncolorsize border-2"
                  ng-repeat="size in productDetailInfo.listOfSize"
                  ng-class="{ 'btn-selected': size.id === selectedSize }" ng-click="selectSize(size.id)">
                  {{ size.name }}
                </div>
              </div>
            </div>
          </div>
          <p>
            <span ng-if="quantity === 0" class="zero-quantity">Hiện sản phẩm chưa có</span>
            <span ng-if="quantity > 0">Còn lại: {{ quantity }} sản phẩm</span>
          </p>
          <div style="display: flex">
            <a ng-if="quantity > 0" ng-click="cart.add(productDetail.id)" class="add-to-cart btn btn-warning shadow-0">
              Thêm vào giỏ hàng
            </a>
            <a ng-if="quantity === 0" class="no-product btn btn-warning shadow-0">
              Hiện sản phẩm chưa có
            </a>
            <a href="#" class="btn btn-light border-0 py-2 icon-hover px-3">
              <i class="me-1 fa fa-heart fa-lg"></i>
            </a>
          </div>
          
          <hr />
          <div>
            <div class="special-title">Đặc điểm nổi bật</div>

            <div class="tab-content" id="ex1-content">
              <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                <!-- <p style="padding-left: 24px;" class="py-2 ">Mô tả:
                            {{ productDetailInfo.olViewProductDetailRespone.describe }}.
                          </p> -->

                <div class="single-column-container">
                  <div class="data-item">
                    <span class="label">Chất liệu:</span>
                    <span class="value">{{
                      productDetailInfo.olViewProductDetailRespone.nameMaterial
                      }}</span>
                  </div>
                  <div class="data-item">
                    <span class="label">Cổ áo:</span>
                    <span class="value">{{ productDetailInfo.olViewProductDetailRespone.collar
                      }}</span>
                  </div>
                  <div class="data-item">
                    <span class="label">Cổ tay:</span>
                    <span class="value">{{ productDetailInfo.olViewProductDetailRespone.wrist
                      }}</span>
                  </div>
                  <div class="data-item">
                    <span class="label">Thương hiệu:</span>
                    <span class="value">{{ productDetailInfo.olViewProductDetailRespone.brand
                      }}</span>
                  </div>

                  <div class="data-item">
                    <span class="label">Mô tả:</span>
                    <span class="value">
                      {{ productDetailInfo.olViewProductDetailRespone.describe
                      }}.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<section class="bg-light border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-8 mb-4">
        <div class="border rounded-2 px-3 py-2 bg-white">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1"
                data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1"
                aria-selected="true">Đặc điểm nổi bật</a>
            </li>
          </ul>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
              <p style="padding-left: 24px" class="py-2">
                Mô tả: {{ productDetailInfo.olViewProductDetailRespone.describe
                }}.
              </p>

              <table class="table border mt-3 mb-2">
                <tr>
                  <th class="py-2">Chất liệu:</th>
                  <td class="py-2">
                    {{ productDetailInfo.olViewProductDetailRespone.nameMaterial
                    }}
                  </td>
                </tr>
                <tr>
                  <th class="py-2">Cổ áo:</th>
                  <td class="py-2">
                    {{ productDetailInfo.olViewProductDetailRespone.collar }}
                  </td>
                </tr>
                <tr>
                  <th class="py-2">Cổ tay:</th>
                  <td class="py-2">
                    {{ productDetailInfo.olViewProductDetailRespone.wrist }}
                  </td>
                </tr>
                <tr>
                  <th class="py-2">Thương hiệu</th>
                  <td class="py-2">
                    {{ productDetailInfo.olViewProductDetailRespone.brand }}
                  </td>
                </tr>
                <!-- <tr>
                        <th class="py-2">Graphics</th>
                        <td class="py-2">Intel Iris Plus Graphics 640</td>
                      </tr> -->
              </table>
            </div>
          </div>
          <!-- Pills content -->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Similar items</h5>
              <div class="d-flex mb-3">
                <a href="#" class="me-3">
                  <!-- <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp"
                    style="min-width: 96px; height: 96px" class="img-md img-thumbnail" /> -->
                </a>
                <div class="info">
                  <a href="#" class="nav-link mb-1">
                    Rucksack Backpack Large <br />
                    Line Mounts
                  </a>
                  <strong class="text-dark"> $38.90</strong>
                </div>
              </div>

              <div class="d-flex mb-3">
                <a href="#" class="me-3">
                  <!-- <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp"
                    style="min-width: 96px; height: 96px" class="img-md img-thumbnail" /> -->
                </a>
                <div class="info">
                  <a href="#" class="nav-link mb-1">
                    Summer New Men's Denim <br />
                    Jeans Shorts
                  </a>
                  <strong class="text-dark"> $29.50</strong>
                </div>
              </div>

              <div class="d-flex mb-3">
                <a href="#" class="me-3">
                  <!-- <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp"
                    style="min-width: 96px; height: 96px" class="img-md img-thumbnail" /> -->
                </a>
                <div class="info">
                  <a href="#" class="nav-link mb-1">
                    T-shirts with multiple colors, for men and lady
                  </a>
                  <strong class="text-dark"> $120.00</strong>
                </div>
              </div>

              <div class="d-flex">
                <a href="#" class="me-3">
                  <!-- <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp"
                    style="min-width: 96px; height: 96px" class="img-md img-thumbnail" /> -->
                </a>
                <div class="info">
                  <a href="#" class="nav-link mb-1">
                    Blazer Suit Dress Jacket for Men, Blue color
                  </a>
                  <strong class="text-dark"> $339.90</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>