


body {
  color: #000;
  font-family: 'Roboto Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}



.icon-hover-primary:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }
  
  .icon-hover-primary:hover i {
    color: #3b71ca !important;
  }
  .icon-hover-danger:hover {
    border-color: #dc4c64 !important;
    background-color: white !important;
  }
  
  .icon-hover-danger:hover i {
    color: #dc4c64 !important;
  }
  .icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }

    /* CSS */
/* .color-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}
.btncolorsize{
  margin-right: 14px;
} */


.btn-selected {
  background-color: #2f5acf !important;
  color: white;
  border: 2px red;
}
.btn-selected2 {
  border-color: blue !important;
  padding: 2px;
  box-shadow: 0 0 0 0px rgba(0, 128, 255, 0.5), inset 0 0 0 3px white;
}

    .form-control {
    }
    .discount {
      margin-top: 20px;
    }

    .input-number {
      padding-left: 30px;
    }

.input-number input{
  width: 70%;
}
.btn-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  margin-right: 14px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  overflow: hidden; /* Thêm thuộc tính overflow */
  background-color: #f2f2f2; /* Đây là mã màu xám nhạt */

}

.color-circle-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.color-circle {
  width: 38px; 
  height: 38px; 
  border-radius: 50%; 
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 2px;
}
.single-column-container {
  display: flex;
  flex-direction: column;
}

.data-item {
  padding-top: 10px;
  /* border-top: 1px solid #ccc; */
}

.label {
  font-weight: bold;
}

.special-title{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 16px;

}
.title-product{
  font-size: 32px;
  line-height: 1.25em;
  font-weight: 500;
  margin-bottom: 20px;
}

.productdetail-price{
  font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

.product-price{
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}
select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
/* Điều chỉnh CSS theo yêu cầu thiết kế của bạn */


.custom-bg {
  background-color: #f1f1f1;
    }

    .zero-quantity {
      color: grey;
    }
    
    .add-to-cart {
      background-color: #000;
      font-size: 14px;
      color: #fff;
      width: 100%;
      cursor: pointer;
    }
    
    .no-product {
      background-color: #ccc;
      font-size: 14px;
      color: #fff;
      width: 100%;
      cursor: not-allowed;
    }
    
   
/* Kiểu dáng cho voucher */
.voucher-item {
  margin-bottom: 10px;
}

/* Phần tử chứa thông tin của voucher */
.voucher-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Phần tử chứa thông tin mã và quantity */
.voucher-code {
  flex: 1;
}

/* Phần tử chứa thông tin giá trị và đơn hàng */
.voucher-details {
  flex: 1;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}

.voucher-details-content{
  flex: 1;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: revert;
}
/* Kiểu dáng cho endDate */
.voucher-end-date {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

/* Màu và viền cho phần tử voucher-item */
.voucher-item {
  background-color: #f7f7f7; /* Màu nền */
  border: 1px solid #ddd; /* Viền */
  border-radius: 5px; /* Bo góc */
  padding: 10px; /* Khoảng cách bên trong */
  margin-bottom: 10px; /* Khoảng cách giữa các phần tử */
}

/* Kiểu dáng cho voucher-details-content */
.voucher-details-content {

  align-items: center;
}

/* Màu và font cho voucher code */
.voucher-details-content h5 {
  color: #333; /* Màu chữ */
  font-weight: bold; /* Độ đậm */
  font-size: 16px; /* Kích thước chữ */
}

/* Màu cho quantity và HSD */
.voucher-details-content p {
  color: #666; /* Màu chữ */
  font-size: 14px; /* Kích thước chữ */
}

/* Màu cho Giảm và Đơn hàng */
.voucher-value p {
  font-size: 14px; /* Kích thước chữ */
  font-weight: bold; /* Độ đậm */
}

.card-header{
  margin-top: 16px;
}

/* CSS cho checkbox */
.custom-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

/* Khi checkbox được chọn */
.custom-checkbox:checked::before {
  content: '\2714'; /* Ký tự checkmark */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
  background-color: #ff0000; /* Màu nền khi chọn */
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 3px;
}
/* CSS cho phần tử bao quanh voucher */
.voucher-item {
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

/* CSS khi voucher được chọn */
.selected-voucher {
  border: 4px solid #ff0000;
}

.voucher-details {
  flex-grow: 1;
  text-align: right;
}

.voucher-value {
  padding: 10px;
}
.voucher-item {
  margin-bottom: 10px;
}


.voucher-details {
  text-align: right;
}
.voucher-item {
  margin-bottom: 10px;
}

.voucher-name {
  text-align: center;
  display: flex;
}
/* Định dạng cho modal */
.modal-dialog {
  max-width: 600px; /* Điều chỉnh chiều rộng tối đa của modal */
  height: 600px; /* Điều chỉnh chiều cao của modal */
}

/* Thiết lập thanh cuộn cho danh sách voucher */
.voucher-list {
  max-height: 500px; /* Điều chỉnh chiều cao tối đa của danh sách voucher */
  overflow-y: auto; /* Tạo thanh cuộn nếu danh sách voucher dài hơn */
  overflow-x: hidden;

}

/* Giao diện đè lên */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Màu nền với độ trong suốt */
  z-index: 1000; /* Chỉ số z để đè lên header */
}

/* Hiển thị overlay khi được kích hoạt */
.overlay.active {
  display: block;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99999;
}

.header-search {
  padding: 20px;
  background: #fff;
  width: 100%;
  height: 107px;
  display: flex;
}

.input-group {
  margin-bottom: 20px;
}

.product-display {
  padding: 20px;
  margin-top: 20px;
  background: #fff;
  display: block;
  width: 1000px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px auto 0;
}

.from-search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 532px;
  margin: 0 auto;
  transition: all .3s;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}