<section>
    <div class="pagetitle">
        <h1>Bill</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin/index}">Trang chủ</a></li>
                <li class="breadcrumb-item">Đơn hàng</li>
                <li class="breadcrumb-item active">Hóa đơn</li>
            </ol>
        </nav>
        <!--        <input type="text" ng-model="searchKeyword" ng-change="search()" placeholder="Search Bill..."-->
        <!--               class="form-control">-->
        <div class="row">
            <div class="col-10">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">Tìm theo mã</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" t
                            ype="button" role="tab" aria-controls="profile" aria-selected="false">Tìm kiếm
                            nâng cao</button>
                    </li>
                </ul>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-success mb-2 form-control" data-bs-toggle="modal"
                    data-bs-target="#modalAdd">
                    Tạo hóa đơn
                </button>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <input type="text" ng-model="searchKeyword" ng-change="search()" placeholder="Nhập mã hóa đơn..."
                        class="form-control mt-2">
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fromDate">Từ ngày:</label>
                            <input type="date" id="fromDate" class="form-control" ng-model="fromDate">
                            <label for="toDate">Đến ngày:</label>
                            <input type="date" id="toDate" class="form-control" ng-model="toDate">
                        </div>
                        <div class="col-md-3">
                            <label for="fromDate">Loại hóa đơn:</label>
                            <select class="form-select" aria-label="Small select example" ng-model="typeBill">
                                <option value="">Chọn loại</option>
                                <option ng-value="1">Bán nhanh</option>
                                <option ng-value="2">Đặt hàng online</option>
                                <option ng-value="3">Bán giao hàng</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="fromDate">Trạng thái hóa đơn:</label>
                            <select class="form-select" aria-label="Small select example" ng-model="billStatus">
                                <option value="">Chọn trạng thái</option>
                                <option ng-value="1">Chờ xử lý</option>
                                <option ng-value="2">Đang giao hàng</option>
                                <option ng-value="3">Giao hàng thành công</option>
                                <option ng-value="4">Đã hủy</option>
                            </select>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary mb-2 form-control"
                                ng-click="filter(fromDate, toDate, typeBill, billStatus)">Tìm kiếm
                            </button>
                            <button type="button" class="btn btn-outline-info mb-2 form-control"
                                ng-click="resetFilter()">Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Begin code  -->
    <section class="section">
        <div class="alert border-success alert-dismissible fade show" role="alert" ng-show="showAlert">
            {{alertMessage}}
            <button type="button" class="btn-close" ng-click="closeAlert()" aria-label="Close"></button>
        </div>
        <!-- End Modal Add -->
        <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" id="tabhome"
                                ng-click="showAddBillDetail(bill)" href="#home1">Thông tin hóa đơn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" ng-click="showAddBillDetail('pd')"
                                href="#menu2">Danh sách sản phẩm</a>
                        </li>
                    </ul>
                    <div class="modal-body">
                        <div class="tab-content mt-3">
                            <div id="home1" class="container tab-pane active">
                                <div class="row">
                                    <label class="col-sm-2">Mã hóa đơn</label>
                                    <div class="col-sm-4">
                                        <input name="code" type="text" class="form-control bg-secondary-light"
                                            placeholder="Mã hóa đơn" ng-model="formUpdate.code" disabled
                                            ng-required="true">
                                    </div>
                                    <label class="col-sm-2">Tên khách hàng</label>
                                    <div class="col-sm-4">
                                        <!-- <input name="fullName" type="text" class="form-control bg-secondary-light"
                                            placeholder="Tên khách hàng" readonly
                                            ng-model="formUpdate.customerEntity.fullName" ng-required="true"> -->
                                        <div ng-if="formUpdate.customerEntity != null">
                                            <input name="fullName" type="text" class="form-control bg-secondary-light"
                                                placeholder="Tên khách hàng" disabled
                                                ng-model="formUpdate.customerEntity.fullName" ng-required="true">
                                        </div>
                                        <div ng-if="formUpdate.customerEntity == null">
                                            <input name="fullName" type="text" class="form-control bg-secondary-light"
                                                placeholder="Tên khách hàng" disabled ng-required="true" value="Khách lẻ">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <label class="col-sm-2">Ngày đặt hàng</label>
                                    <div class="col-sm-4">
                                        <input name="createdAt" type="text" class="form-control bg-secondary-light"
                                        disabled ng-model="formUpdate.createdAt | date: 'dd-MM-yyyy HH:mm'"
                                            ng-required="true">
                                    </div>
                                    <label class="col-sm-2">Hình thức thanh toán</label>
                                    <div class="col-sm-4">
                                        <input name="paymentMethod" type="text" class="form-control bg-secondary-light"
                                            placeholder="Enter code" ng-model="formUpdate.paymentMethod.name" disabled
                                            ng-required="true">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <label class="col-sm-2">Loại hóa đơn</label>
                                    <div class="col-sm-4" ng-switch="formUpdate.typeBill">
                                        <input name="typeBill1" type="text" ng-switch-when="1"
                                            class="form-control bg-secondary-light" value="Bán nhanh" disabled>
                                        <input name="typeBill2" type="text" ng-switch-when="2"
                                            class="form-control bg-secondary-light" value="Đặt hàng online" disabled>
                                        <input name="typeBill3" type="text" ng-switch-when="3"
                                            class="form-control bg-secondary-light" value="Bán giao hàng" disabled>
                                        <!--                                        <input name="code" type="text"-->
                                        <!--                                               class="form-control bg-secondary-light"-->
                                        <!--                                               placeholder="Enter code"-->
                                        <!--                                               ng-model="formUpdate.typeBill" readonly ng-required="true">-->
                                    </div>
                                    <label class="col-sm-2">Trạng thái</label>
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Small select example"
                                            ng-model="formUpdate.status">
                                            <option ng-value="1">Chờ xử lý</option>
                                            <option ng-value="2">Đang giao hàng</option>
                                            <option ng-value="3">Giao hàng thành công</option>
                                            <option ng-value="4">Đã hủy</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="accordion accordion-flush" id="accordionFlushExample"
                                    ng-if="formUpdate.typeBill != 1">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                                <h5>Thông tin giao hàng</h5>
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div>
                                                <div class="card card-body">
                                                    <div class="row mt-2">
                                                        <label class="col-sm-2">Tên người nhận</label>
                                                        <div class="col-sm-4">
                                                            <input name="code" type="text"
                                                                class="form-control bg-secondary-light"
                                                                placeholder="Tên người nhận"
                                                                ng-model="formUpdate.reciverName" disabled
                                                                ng-required="true">
                                                        </div>
                                                        <label class="col-sm-2">Số điện thoại</label>
                                                        <div class="col-sm-4">
                                                            <input name="createdAt" type="text"
                                                                class="form-control bg-secondary-light"
                                                                placeholder="Số điện thoại" disabled
                                                                ng-model="formUpdate.phoneNumber" ng-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <label class="col-sm-2">Ngày giao hàng</label>
                                                        <div class="col-sm-4">
                                                            <input name="code" type="text"
                                                                class="form-control bg-secondary-light"
                                                                placeholder="Ngày giao hàng"
                                                                ng-model="formUpdate.deliveryDate | date: 'dd-MM-yyyy HH:mm'"
                                                                disabled ng-required="true">
                                                        </div>
                                                        <label class="col-sm-2">Phí giao hàng</label>
                                                        <div class="col-sm-4">
                                                            <input name="createdAt" type="text"
                                                                class="form-control bg-secondary-light"
                                                                placeholder="Phí giao hàng" disabled
                                                                ng-model="formUpdate.shippingFee" ng-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <label class="col-sm-2">Địa chỉ</label>
                                                        <div class="col-sm-10">
                                                            <textarea id="address" type="text" placeholder="Địa chỉ giao hàng"
                                                                class="form-control bg-secondary-light" disabled
                                                                ng-model="formUpdate.address"
                                                                ng-required="true">{{formUpdate.address}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-7">

                                    </div>
                                    <div class="col-5" style="font-weight: bold; text-align: end">
                                        <div class="row mt-1">
                                            <label class="col-6">Tổng tiền: </label>
                                            <label class="col-6">{{tongTien | number:0}} đ</label>
                                        </div>
                                        <div class="row mt-1">
                                            <label class="col-6">Giảm giá hóa đơn: </label>
                                            <label class="col-6">{{giamGia | number:0}} đ</label>
                                        </div>
                                        <div class="row mt-1">
                                            <label class="col-6">Khách phải trả: </label>
                                            <label class="col-6">{{khachPhaiTra | number:0}} đ</label>
                                        </div>
                                        <div class="row mt-1">
                                            <label class="col-6">Khách đã thanh toán: </label>
                                            <label class="col-6">{{khachDaTra | number:0}} đ</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button ng-if="formUpdate.typeBill == 3" class="btn btn-primary" id="update"> Cập
                                        nhật
                                    </button>
                                    <button class="btn btn-success" id="save"
                                        ng-click="updateStatus( formUpdate.status ,formUpdate)">Lưu
                                    </button>
                                    <button class="btn btn-primary" id="submitEdit" ng-click="update()">Xuất hóa
                                        đơn
                                    </button>
                                    <button class="btn btn-secondary" id="cancelEdit" data-bs-target="#modalDetail"
                                        data-bs-dismiss="modal">Đóng
                                    </button>

                                </div>
                            </div>

                            <div id="home2" class="container tab-pane active">
                                <!--                                <div class="row">-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <label for="updateCode" class="">Mã hóa đơn</label>-->
                                <!--                                        <input name="code" id="updateCode" type="text"-->
                                <!--                                               class="form-control bg-secondary-light"-->
                                <!--                                               placeholder="Mã hóa đơn"-->
                                <!--                                               ng-model="formUpdate.code" readonly ng-required="true">-->
                                <!--                                    </div>-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <label for="customer" class="">Tên khách hàng</label>-->
                                <!--                                        <input name="createdAt" id="customer" type="text"-->
                                <!--                                               class="form-control bg-secondary-light"-->
                                <!--                                               placeholder="Tên khách hàng" readonly-->
                                <!--                                               ng-model="formUpdate.customerEntity.fullName" ng-required="true">-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <div class="row mt-2">-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <label for="phoneNumber" class="">Số điện thoại</label>-->
                                <!--                                        <input name="code" id="phoneNumber" type="text"-->
                                <!--                                               class="form-control bg-secondary-light"-->
                                <!--                                               placeholder="Enter code"-->
                                <!--                                               ng-model="formUpdate.phoneNumber" readonly ng-required="true">-->
                                <!--                                    </div>-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <label for="createdAt" class="">Ngày đặt hàng</label>-->
                                <!--                                        <input name="createdAt" id="createdAt" type="text"-->
                                <!--                                               class="form-control bg-secondary-light"-->
                                <!--                                               placeholder="Enter createdAt" date="yyyy-MM-dd" readonly-->
                                <!--                                               ng-model="formUpdate.createdAt | date: 'dd-MM-yyyy HH:mm'"-->
                                <!--                                               ng-required="true">-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <div class="row mt-2">-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <label for="paymentMethod" class="">Hình thức thanh toán</label>-->
                                <!--                                        <input name="code" id="paymentMethod" type="text"-->
                                <!--                                               class="form-control bg-secondary-light"-->
                                <!--                                               placeholder="Enter code"-->
                                <!--                                               ng-model="formUpdate.paymentMethod.name" readonly ng-required="true">-->
                                <!--                                    </div>-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <label for="createdAt" class="">CreatedAt</label>-->
                                <!--                                        <input name="createdAt" id="" type="text"-->
                                <!--                                               class="form-control bg-secondary-light"-->
                                <!--                                               placeholder="Enter createdAt" readonly-->
                                <!--                                               ng-model="formUpdate.createdAt" ng-required="true">-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <div class="row mt-2">-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <label for="paymentMethod" class="">Hình thức thanh toán</label>-->
                                <!--                                        <input name="code" id="a" type="text" class="form-control bg-secondary-light"-->
                                <!--                                               placeholder="Enter code"-->
                                <!--                                               ng-model="formUpdate.paymentMethod.name" readonly ng-required="true">-->
                                <!--                                    </div>-->
                                <!--                                    <div class="col-sm-6">-->
                                <!--                                        <label for="" class="">Trạng thái</label>-->
                                <!--                                        <select class="form-select" aria-label="Small select example"-->
                                <!--                                                ng-model="formUpdate.status">-->
                                <!--                                            <option ng-value="0">Chờ xử lý</option>-->
                                <!--                                            <option ng-value="1">Đang giao hàng</option>-->
                                <!--                                            <option ng-value="2">Giao hàng thành công</option>-->
                                <!--                                            <option ng-value="3">Đã hủy</option>-->
                                <!--                                        </select>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <div class="row mb-3 mt-2">-->
                                <!--                                    <div class="col-sm-12">-->
                                <!--                                        <label for="status" class="">Ghi chú</label>-->
                                <!--                                        <textarea name="note" id="note" type="text"-->
                                <!--                                                  class="form-control bg-secondary-light" readonly-->
                                <!--                                                  ng-model="formUpdate.note"-->
                                <!--                                                  ng-required="true">{{formUpdate.note}}</textarea>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <div class="modal-footer">-->
                                <!--                                    <button class="btn btn-primary" id="enableEdit"-->
                                <!--                                            ng-click="enableEditForm(false, false)">-->
                                <!--                                        Edit-->
                                <!--                                    </button>-->
                                <!--                                    <button class="btn btn-secondary" id="cancelEdit" ng-click="cancelEdit()">Cancel-->
                                <!--                                    </button>-->
                                <!--                                    <button class="btn btn-primary" id="submitEdit" ng-click="update()">Save change-->
                                <!--                                    </button>-->
                                <!--                                </div>-->
                            </div>
                            <div id="menu2" class="container tab-pane fade">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Tên sản phẩm</th>
                                            <th scope="col">Giá</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="bd in billDetails">
                                            <td class="col-1">{{$index + 1}}</td>
                                            <td class="col-6">{{bd.productDetail.product.name
                                                + ' - ' + bd.productDetail.color.name + ' - ' +
                                                bd.productDetail.size.name}}
                                            </td>
                                            <td class="col-2">{{bd.price | number:0}} đ</td>
                                            <td class="col-1">{{bd.quantity}}</td>
                                            <td class="col-2">{{bd.price * bd.quantity | number:0}} đ</td>
                                        </tr>
                                        <td colspan="8" ng-if="billDetails.length <= 0">
                                            <p style="text-align: center">No Bill detail</p>
                                        </td>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-7">

                                    </div>
                                    <div class="col-5" style="font-weight: bold; text-align: end">
                                        <div class="row mt-1">
                                            <label class="col-6">Tổng số sản phẩm</label>
                                            <label class="col-6">{{tongSoSanPham}}</label>
                                        </div>
                                        <div class="row mt-1">
                                            <label class="col-6">Tổng tiền: </label>
                                            <label class="col-6">{{tongTien | number:0}} đ</label>
                                        </div>
                                        <div class="row mt-1">
                                            <label class="col-6">Giảm giá hóa đơn: </label>
                                            <label class="col-6">{{giamGia | number:0}} đ</label>
                                        </div>
                                        <div class="row mt-1">
                                            <label class="col-6">Khách phải trả: </label>
                                            <label class="col-6">{{khachPhaiTra | number:0}} đ</label>
                                        </div>
                                        <div class="row mt-1">
                                            <label class="col-6">Khách đã thanh toán: </label>
                                            <label class="col-6">{{khachDaTra | number:0}} đ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Begin Modal Update -->
        <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Bill</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="formUpdateBill" ng-submit="formUpdateBill.$valid && update()" novalidate>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button ng-click="resetFormUpdate()" type="button" class="btn btn-warning">Reset
                                </button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal Update -->
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Mã</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Khách hàng</th>
                            <th scope="col">Tổng tiền hàng</th>
                            <th scope="col">Giảm giá</th>
                            <th scope="col">Loại</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bill in paper.items">
                            <td>{{bill.code}}</td>
                            <td>{{bill.createdAt | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td>{{bill.customerEntity != null ? bill.customerEntity.fullName : 'Khách lẻ'}}</td>
                            <td>{{bill.totalAmount}}</td>
                            <td>{{bill.totalAmount - bill.totalAmountAfterDiscount}}</td>
                            <td class="col-1" ng-switch="bill.typeBill">
                                <span ng-switch-when="1">Bán nhanh</span>
                                <span ng-switch-when="2">Online</span>
                                <span ng-switch-when="3">Bán giao hàng</span>
                            </td>
                            <td class="col-2" ng-switch="bill.status">
                                <span ng-switch-when="1">Chờ xử lý</span>
                                <span ng-switch-when="2">Đang giao hàng</span>
                                <span ng-switch-when="3">Giao thành công</span>
                                <span ng-switch-when="4">
                                    <p class="text-danger">Đã hủy</p>
                                </span>
                            </td>
                            <td>
                                <button ng-click="edit(bill)" type="button" class="btn btn-info" data-bs-toggle="modal"
                                    data-bs-target="#modalUpdate"><i class="ri-edit-line"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row align-items-center">
                    <div class="col-md-1"> <!-- Điều chỉnh class col-md-6 tùy theo cỡ màn hình mong muốn -->
                        <select class="form-control" ng-model="paper.size" ng-change="changePageSize()">
                            <option value="selected">Xem mục</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-md-11">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <button ng-click="paper.first()" class="page-link">First
                                    </button>
                                </li>
                                <li class="page-item">
                                    <button ng-click="paper.prev()" class="page-link">Previous
                                    </button>
                                </li>
                                <li class="page-item"><a class="page-link">{{paper.page + 1}} of
                                        {{paper.count}}</a>
                                </li>
                                <li class="page-item">
                                    <button ng-click="paper.next()" class="page-link">Next
                                    </button>
                                </li>
                                <li class="page-item">
                                    <button ng-click="paper.last()" class="page-link">Last
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  End Code  -->
</section>