<!-- 


<section style="margin-top: 82px;" class="container-fluid" ng-init="getAddressList()">
    <div style="display: flex;justify-content: center;">
        <div class="category-container">
          <div class="heading-data__title" id="headingTitle">
            DANH MỤC SẢN PHẨM
          </div>
          <div class="category-body">
            <div class="col-md-4">
              <div class="category-data" id="categoryDataContainer">
                <ul >
                <li ng-repeat="category in dataFill.categoryList">
                  <a ng-href="#!product?categoryId={{category.id}}" class="text-dark">{{category.name}}</a>
                </li>
                </ul>
              </div>
            </div>
            <button class="btn btn-primary" ng-click="goToOfView()" ng-show="isAdmin">Chức năng Admin</button>
          </div>
      
      
          <div class=" d-flex justify-content-start" style="width: 32%;">
            <div style=" border-radius: 10px;    width: 100%;" class="input-group">
              <div class="form-outline">
                <input style="border-bottom: 1px solid #cdcdcd;" type="search" ng-click="openOverlaySearch()" 
                  class="form-control" readonly />
                <label class="form-label">Tìm kiếm sản phẩm</label>
              </div>
              <button type="button" class="btn btn-primary shadow-0" onclick="openOverlay()">
                <i class="fas fa-search fa-lg"></i>
              </button>
      
            </div>
          </div>
        </div>
      </div>
    
      <div class="overlay" id="overlay" class="inactive" ng-click="closeOverlay($event)">
        <div class="header-search">
          <button type="button" class="btn btn-light shadow-0 closeBtn" ng-click="toggleOverlaySearch()">
            <i class="fa-solid fa-xmark fa-lg"></i>
          </button>
          <form class="from-search"  >
            <div class="input-group">
              <div class="form-outline w-100">
              <input style="border-bottom: 1px solid #cdcdcd;" type="search" id="form1" class="form-control"
        ng-model="searchText" ng-change="loadProductSearch()" />
    
    
              </div>
              <button type="button" class="btn btn-primary shadow-0">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="product-display">
          <div class="container-fluid">
            <div  class="row" id="productDisplay">
            </div>
          </div>
        </div>
      </div>
      
    <div style="margin-bottom: 40px;padding: 46px 64px;" class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">

            <div class="account-page-title">
                <span>Tài khoản của bạn</span>
            </div>


            <div class="collapsible-account-content">
                <div class="block-title">
                    <strong class="customer-name">{{userData.fullName}}</strong>
                </div>
                <div class="block-content block-collapsible-nav-content">
     
    
     
                    <ul class="nav items">
                        <li class="nav item current"><a href="#!account-info">Thông tin tài khoản</a></li>
                    </ul>
                    <ul ng-if="!isAdmin" class="nav items">
                        <li class="nav item current"><a href="#!account-history">Lịch sử mua hàng</a></li>
                    </ul>
                    <ul ng-if="!isAdmin" class="nav items">
                        <li class="nav item current"><a href="#!account-address"><strong>Sổ địa chỉ</strong></a></li>
                    </ul>
                    <ul ng-if="!isAdmin" class="nav items">
                        <li class="nav item current"><a href="#!account-favorite">Sản phẩm yêu thích</a></li>
                    </ul>
                    <ul ng-if="!isAdmin" class="nav items"><li class="nav item current"><a href="#!account-evaluate">Đánh giá</a></li>
                    </ul>
                <hr>
    
                <ul class="nav items">
                    <li class="nav item current"><a href=""   ng-click="logout()">Đăng xuất</a></li>
                </ul>
                </div>
            </div>
      
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6 mb-4">
           <div class="column-main">
            <div class="page-title-wrapper">
                <h1 class="page-title">
                    <span class="base">Địa chỉ của tôi</span>
                </h1>
            </div>
         <div class="row">
            
            <div class="block-account-information col-lg-6 col-md-6 col-sm-6 mb-4" style="height: 580px; overflow-y: auto;">
                <div ng-repeat="address in addressList" class="account-address__item">
                    <div class="address-info">
                        <span class="address-line">
                            <div class="account-address__head"><strong>Họ và tên:</strong>  {{  address.name }}</div>
                            <div class="actions">
                                <button class="btn-update btn btn-primary" ng-click="fillDataToUpdate(address)">Cập nhật</button>
                                <button class="btn-delete btn btn-primary" ng-click="deleteDataAddress(address.id)">Xóa</button>
                            </div>
                        </span>
                        <div><strong>Số điện thoại:</strong> {{ address.phoneNumber }}</div>
                        <div><strong>Địa chỉ:</strong> {{ address.address }}</div>
                        <div ng-if="address.defaultAddress" class="default-address">Địa chỉ mặc định</div>
                    </div>
                </div>
            </div>
            
            
            
            
            
                
            <div class="personal-information col-lg-8 col-md-6 col-sm-6 mb-4">
                <form class="form-edit-account">
                    <div class="mb-3">
                        <label for="name" class="form-label">Họ và tên:</label>
                        <input type="text" class="form-control"  id="name" ng-model="addressData.name">
                        <p style="color: red;" class="error-message" ng-if="isNameUserAddressInvalid">Vui lòng nhập thông tin này.</p>
                    </div>
                
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Số điện thoại:</label>
                        <input type="tel" class="form-control" id="phoneNumber" ng-model="addressData.phoneNumber">
                        <p style="color: red;" class="error-message" ng-if="isPhoneNumberAddressInvalid">Số điện thoại không hợp lệ.</p>
                    </div>
                
                    <div class="mb-3">
                        <label for="address" class="form-label">Địa chỉ:</label>
                        <input type="text" class="form-control" id="address" ng-model="addressDataaddressDetail">
                        <p style="color: red;" class="error-message" ng-if="isNameDetailAddressInvalid">Vui lòng nhập thông tin này.</p>
                    </div>
                
                    <div class="mb-3">
                        <label for="city" class="form-label">Tỉnh/Thành phố:</label>
                        <input type="text" class="form-control" id="city" ng-model="addressDatacity">
                        <p style="color: red;" class="error-message" ng-if="isCityAddressInvalid">Vui lòng nhập thông tin này.</p>
                    </div>
                
                    <div class="mb-3">
                        <label for="district" class="form-label">Quận/Huyện:</label>
                        <input type="text" class="form-control" id="district" ng-model="addressDatadistrict">
                        <p style="color: red;" class="error-message" ng-if="isDistrictAddressInvalid">Vui lòng nhập thông tin này.</p>
                    </div>
                
                    <div class="mb-3">
                        <label for="ward" class="form-label">Phường/Xã:</label>
                        <input type="text" class="form-control" id="ward" ng-model="addressDataward">
                        <p style="color: red;" class="error-message" ng-if="isWardAddressInvalid">Vui lòng nhập thông tin này.</p>
                    </div>
                
                    <div class="mb-3 form-check">   
                        <input type="checkbox" class="form-check-input" id="defaultAddress" ng-model="addressData.defaultAddress" >
                        <label class="form-check-label" for="defaultAddress">Đặt làm địa chỉ mặc định</label>
                    </div>
                    <button ng-click="updateAddress()" class="btn btn-primary">Cập nhật</button>
                    <button ng-click="addAddress()" class="btn btn-primary">
                        Thêm địa chỉ mới
                      </button>
                </form>
                
            </div>



            
         </div>
           </div>
        </div>
    </div>
</section> -->
