<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        referrerpolicy="no-referrer"></script>
    <!-- //toastr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
</head>

<body ng-app="otp" ng-controller="otpCtrcl">
    <div class="container">
        <form class="otp-form">
            <h1 style="margin: 5%;">Quên mật khẩu</h1>
            <div class="input-group">
                <label for="email">Nhập Email của bạn</label>
                <input type="email" id="email" ng-model="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <label for="otp">Nhập mã </label>
                <input type="text" id="otp" ng-model="otp" placeholder="Mã" required>
            </div>
            <button ng-disabled="resendDisabled" ng-click="resendConfirmation()">Gửi mã xác nhận</button>
            <p style="margin: 4px;color: red;" ng-show="showCountdown && countdownValue > 0">Đợi {{ countdownValue }}
                giây để gửi lại mã xác nhận</p>


            <button ng-click="submitOTP()">Xác nhận</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="login.js"></script>
    <script src="loginAngularJs.js"></script>
</body>

</html>