<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{admin/index}">

<head>
    <meta charset="utf-8">
    <title>Dashboard - FiveGuys</title>
</head>

<link th:href="@{/assets/css/myprofile/myprofile.css}" rel="stylesheet">

<body>
    <main id="main" class="main" layout:fragment="content">
        <div class="pagetitle">
            <h1>My Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/admin/index}">Home</a></li>
                    <li class="breadcrumb-item active">My Profile</li>
                </ol>
            </nav>
        </div>
        <!--  Begin code  -->
        <section class="section">
            <div class="row">
                <div class="col-lg-4">
                    <!-- <h1 style="color: aquamarine;">image</h1> -->
                    <h3>Code: {{employee.code}}</h3>
                    <img src="https://www.clipartmax.com/png/small/214-2143742_individuals-whatsapp-profile-picture-icon.png" alt="" width="300px" height="300px" style="border-radius: 50%;">
                    <h2>My Name: {{employee.fullName}}</h2>
                    <h3>birthDate: {{employee.birthDate}}</h3>
                    <h3>Gender: {{employee.gender}}</h3>
                    <h3>Address: {{employee.address}}</h3>
                    <h3>Email: {{employee.account.email}}</h3>
                    <h3>phoneNumber: {{employee.account.phoneNumber}}</h3>
                </div>
                <div class="col-lg-8">
                    <div>
                        <!-- <h1 style="color: aqua;">profile</h1> -->
                        <div class="row">
                            <ul class="nav">
                                <li class="nav-item editmyprofile">
                                    <a class="nav-link collapsed" style="color: darkgrey;" href="javascript:void(0);"
                                        onclick="showForm('editprofile');">Edit My Profile</a>
                                </li>
                                <li class="nav-item editmyaccount">
                                    <a class="nav-link collapsed" style="color: darkgrey;" href="javascript:void(0);"
                                        onclick="showForm('editaccount');">Edit My Account</a>
                                </li>
                                <li class="nav-item editmyaccount">
                                    <a class="nav-link collapsed" style="color: darkgrey;" href="javascript:void(0);"
                                        onclick="showForm('editpass');">Edit My Password</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="editprofile">
                                <h3>Edit My Profile</h3>
                                <form>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Enter your name">
                                    </div>

                                    <div class="form-group">
                                        <label for="birthdate">Birth Date</label>
                                        <input type="date" class="form-control" id="birthdate">
                                    </div>

                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select class="form-control" id="gender">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" id="address"
                                            placeholder="Enter your address">
                                    </div>

                                    <button type="submit" style="margin: 10px;" class="btn btn-outline-secondary">Save
                                        Changes</button>
                                </form>
                            </div>
                            <div class="editaccount">
                                <h3>Edit My Account</h1>
                                <form>
                                    <div class="form-group">
                                        <label for="account">Account</label>
                                        <input type="text" class="form-control" id="account"
                                            placeholder="Enter your account" readonly>
                                    </div>

                                    <!-- <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password"
                                            placeholder="Enter your password"readonly
                                    </div> -->

                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email"
                                            placeholder="Enter your email">
                                    </div>

                                    <div class="form-group">
                                        <label for="phoneNumber">Phone Number</label>
                                        <input type="phoneNumber" class="form-control" id="phoneNumber"
                                            placeholder="Enter your phoneNumber">
                                    </div>

                                    <button type="submit" style="margin: 10px;" class="btn btn-outline-secondary">Save
                                        Changes</button>
                                </form>
                            </div>
                            <div class="editpass">
                                <h3>Change Password</h3>
                                <form>

                                    <div class="form-group">
                                        <label>Old Password </label>
                                        <input type="password" class="form-control" 
                                            placeholder="Enter your password">
                                    </div>

                                    <div class="form-group">
                                        <label for="password">New Password</label>
                                        <input type="password" class="form-control" id="password"
                                            placeholder="Enter your password">
                                    </div>

                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control" 
                                            placeholder="Enter your password">
                                    </div>


                                    <button type="submit" style="margin: 10px;" class="btn btn-outline-secondary">Save
                                        Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<script th:src="@{/assets/js/myprofile/myprofile.js}"></script>

</html>