<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- <link rel="stylesheet" th:href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <title>Login</title>
</head>

<body>
    <!-- <nav>
        <a href="/auth/login/form">Login</a>
        <a href="/auth/logoff">Logout</a>
    </nav> -->
    <h2 th:text="${message}"></h2>
    <p th:text="${name}"></p>
    <div id="otp">
        <form id="" action="">
            <h2>OTP Confirmation</h2>
            <div class="form-group">
                <label for="otp">Enter OTP:</label>
                <input type="text" id="otp" name="otp" required>
            </div>
            <button onclick="confirmOTP()" style="
                color: #d4dbf3;
                background-color: #5237ac;
                border: #ced9fa;
                width: 200px;
                height: 50px;
                border-radius: 20px;">Confirm OTP</button>
        </form>
    </div>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="signupForm" action="#" method="post">
                <h1>Đăng Ký</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="icon"><i class="fa fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa fa-linkedin"></i></a>
                </div>
                <span>Or use your email for registration</span>
                <input type="text" placeholder="User name" name="username" id="username" required>
                <input type="email" placeholder="Email" name="email" id="email" required>
                <input type="password" placeholder="Password" name="password" id="password" required>
                <button type="button" onclick="registerUser()">Đăng Ký</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/auth/login" method="post">
                <h1>Đăng Nhập</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="icon"><i class="fa fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa fa-linkedin"></i></a>
                </div>
                <span>Or use your email password</span>
                <input type="text" placeholder="User name" name="username" th:value="${username}" required>
                <input type="password" placeholder="Password" name="password" required>
                <a href="#">Forget Your Password?</a>
                <div>
                    <label for="remember">Remember Me:</label>
                    <input type="checkbox" id="remember" name="remember" th:checked="${remember}">
                </div>
                <button type="submit">Đăng Nhập</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site featusres</p>
                    <button class="hidden" id="login">Đăng Nhập</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, friend!</h1>
                    <p>Registter with your personal details to yse all of site features</p>
                    <button class="hidden" id="register">Đăng Ký</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/js/Login.js}"></script>
</body>

</html>